+b('banner-popup')
    width: 100%
    z-index: 100000
    position: relative
    +rem-fallback('height', 95px)
    padding-top: 25px
    padding-bottom: 25px

    +m('color')
        &-orange
            background-color: #ff8f43

        &-grey
            background-color: $color_gray_light

        &-yellow
            background-color: #ffcc1b

    +e('close')
        cursor: pointer
        z-index: 1100
        position: absolute
        top: $space_xxs
        right: $space_xxs
        padding: $space_xxs
        transition: all .5s cubic-bezier(.23,1,.32,1)

    +e('close-svg')
        pointer-events: none
