+b(checkbox)
  cursor: pointer
  display: flex
  align-items: flex-start

  +e(box)
    +reset
    +border(2px solid $color_gray_darker)
    +rem-fallback(border-radius, $radius_m)
    background-color: $color_white
    display: inline-block
    flex: 0 0 auto
    +rem-fallback('height', $font_size_m)
    overflow: hidden
    +rem-fallback('width', $font_size_m)
    vertical-align: middle

    +m(size-small)
      +rem-fallback('height', $font_size_s)
      +rem-fallback('width', $font_size_s)

    +m(size-tiny)
      +rem-fallback(border-radius, $radius_s)
      +rem-fallback('height', $font_size_xs)
      +rem-fallback('width', $font_size_xs)

    &:hover
      +border(2px solid $color_primary)

    +is(checked)
      background-color: $color_primary
      +border(2px solid $color_primary)

    +is(disabled)
      +border(2px solid $color_gray_dark)
      background-color: $color_white

  +e(label-container)
    display: flex
    width: 100%
    @include rem-fallback('margin-left', 14px)
    justify-content: space-between

    +m(size-tiny)
      +rem-fallback('line-height', $line_height_xs)

  +e(label)
    cursor: pointer
    vertical-align: middle
    line-height: 1em

    +m(size-tiny)
      +rem-fallback('line-height', $line_height_xxs)
      +rem-fallback('font-size', $font_size_xxs)

  +e(label-right)
    cursor: pointer
    float: right
    vertical-align: middle

  +e(check)
    svg
      +reset
      height: 100%
      width: 100%
      margin-bottom: $space-xxxs

+b(checkbox-group)
  display: grid
  padding: 0
  width: 100%
  list-style-type: none
  +rem-fallback('row-gap', $space-s)

  +e('label')
    font-weight: $font_weight_light
    +rem-fallback('font-size', $font_size_m)
    line-height: normal
