+b(text-field)
  +e(container)
    position: relative
    width: 100%

  +e(input)
    +border(1px solid color(agray, light))
    font-size: $font-size-m
    +rem-fallback(height, $height-input)
    padding: $space-xs
    background-color: color(awhite)
    border-radius: $radius-m
    color: color(agray, dark)
    margin: 0
    outline: none
    width: 100%
    background-clip: padding-box

    +has(focus-border)
      &:focus
        +border(1px solid color(ablue))

    +has(label)
      &:focus, &.#{_has(content)}
        padding-bottom: $space-xxxxs

    &[disabled]
      +border(1px solid color(agray, lighter))
      pointer-events: none
      color: color(agray, lighter)

    +is(success)
      +border(1px solid color(agreen))
      padding-right: $space-xl
      background-color: color(awhite)

      &:focus
        +border(1px solid color(agreen))

    +is(error)
      +border(1px solid color(aorange))

      &:focus
        +border(1px solid color(aorange))

    &.is-success-model-box
      +border(1px solid color(agreen))
      background-repeat: no-repeat
      background-position: right 17px center
      background-color: color(awhite)

      &:focus
        +border(1px solid color(agreen))

    +m(small)
      font-size: $font-size-s
      +rem-fallback(height, $height-input-small)
      padding: $space-xs
      padding-bottom: $space-xxxs
      background-color: color(awhite)
      border-radius: $border-radius
      outline: none
      width: 100%

      & ~ .#{_b(text-field) + _e(label) + _m(main)}
        top: $space-xxs
        font-size: $font-size-s

      &:focus, &.#{_has(content)}
        +border(1px solid color(ablue))

        & ~ .#{_b(text-field) + _e(label) + _m(main)}
          +rem-fallback(top, 2px)
          left: $space-xs
          font-size: $font-size-xxxs
          font-weight: 700

      & + .valid-tick
        background: url('data:image/svg+xmlutf8,<svg width="14px" height="11px" viewBox="0 0 14 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch --><desc>Created with Sketch.</desc><defs></defs><g troke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g><g><rect x="0" y="0" width="14" height="11"></rect><polygon fill="%2370cf36" points="1.61538462 5 0 6.5 4.30769231 10.5 14 2 12.3846154 0.5 4.30769231 7.5"></polygon></g></g></g></svg>')
        background-repeat: no-repeat
        background-color: color(awhite)
        top: $space-xs
        right: $space-xs
        position: absolute
        width: 14px
        height: 11px
        pointer-events: none

  +e(error-msg)
    font-size: $font-size-xs
    line-height: $line-height-h5v2
    right: $space-xs
    top: 0
    color: color(aorange)
    pointer-events: none
    position: absolute
    text-align: right
    width: 60%

  +e(label)
    +labeltext($labeltext: label-field)
    +rem-fallback(letter-spacing, -0.25px)

    +m(main)
      line-height: 1.5

      +is(smaller)
        font-size: $font-size-xs
        left: $space-xs
        line-height: $line-height-h5v2
        top: $space-xxxxs
        font-weight: $weight-bold

    +m(right)
      font-size: $font-size-xs
      line-height: $line-height-h5v2
      position: initial
      float: left
      font-weight: $weight-bold
      left: auto

    +is(disabled)
      color: color(agray, lighter)

    +m(small)
      +labeltext($labeltext: label-field-small)

  +e(eye)
    +reset
    +rem-fallback(height, 15px)
    right: $space-xxs
    +rem-fallback(width, 26px)
    display: inline-block
    opacity: 0.4
    pointer-events: auto

    +is(active)
      opacity: 1

  +e(valid-tick)
    svg
      +reset
      width: 14px
      height: 18px
      // vertical-align: text-top;

  +e(slot)
    +m(right)
      +rem-fallback(height, $line-height-h5)
      right: $space-xs
      top: $space-s
      display: flex
      flex-flow: row nowrap
      font-weight: $weight-bold
      left: auto
      position: absolute
      vertical-align: middle

      > *
        +inline-space($space-xxs)
