+b(field-group)

  +breakpoint(tablet)
    display: flex

  .#{$prefix_component}button
    +rem-fallback('height', 58px !important)

  > div, > button
    margin-bottom: $space_xxs

    +breakpoint(tablet)
      width: 100%
      border-radius: 0
      margin-bottom: 0

      label
        +rem-fallback('top', $space_xs)

      .#{$prefix_component}text-field__input
        border-radius: 0

        &:focus
          z-index: 100

      &:not(:first-child)
        position: relative
        margin-left: -1px

      &:first-child
        +rem-fallback('border-top-left-radius', $radius_l)
        +rem-fallback('border-bottom-left-radius', $radius_l)

        .#{$prefix_component}text-field__input
          +rem-fallback('border-top-left-radius', $radius_l)
          +rem-fallback('border-bottom-left-radius', $radius_l)

      &:last-child
        +rem-fallback('border-top-right-radius', $radius_l)
        +rem-fallback('border-bottom-right-radius', $radius_l)

        .#{$prefix_component}text-field__input
          +rem-fallback('border-top-right-radius', $radius_l)
          +rem-fallback('border-bottom-right-radius', $radius_l)
