+block('heading')
  +element('h1')
    +rem-fallback('font-size', $font-size-xl)
    font-weight: 700
    font-family: $font-helvetica
    color: color(agray, dark)
    +rem-fallback('line-height', $line-height-h2)
    +rem-fallback('letter-spacing', $letter-spacing-xs)
    +rem-fallback('margin-bottom', 20px)

    +breakpoint(tablet-wide)
      +rem-fallback('font-size', $font-size-xxl)
      +rem-fallback('line-height', $line-height-h1)

    &--museo
      font-family: $font-museo

    &--light
      color: color(agray, darker)
      font-weight: 200
      letter-spacing: $letter-spacing-m

    &--bold
      font-weight: bold

  +element('h2')
    +rem-fallback('font-size', $font-size-l)
    font-family: $font-helvetica
    color: color(agray, dark)
    font-weight: normal
    +rem-fallback('line-height', $line-height-h3)
    +rem-fallback('letter-spacing', $letter-spacing-s)
    +rem-fallback('margin-bottom', 20px)

    @include breakpoint(phone-wide)
      font-size: $font-size-xl
      line-height: $line-height-h2

    &--museo
      font-family: $font-museo

    &--light
      color: color(agray, darker)
      font-weight: 200
      letter-spacing: $letter-spacing-m

    &--bold
      font-weight: bold

  +element('h3')
    +rem-fallback('font-size', $font-size-m)
    font-family: $helvetica
    color: color(agray, dark)
    font-weight: normal
    +rem-fallback('line-height', $line-height-h4)
    +rem-fallback('letter-spacing', $letter-spacing-s)
    +rem-fallback('margin-bottom', 20px)

    @include breakpoint(phone-wide)
      font-size: $font-size-l
      line-height: $line-height-h3

    &--compact
      +rem-fallback('line-height', $line-height-h3v2)

    &--x-compact
      +rem-fallback('line-height', $line-height-h3v2)

    &--museo
      font-family: $font-museo

    &--light
      color: color(agray, darker)
      font-weight: 200
      letter-spacing: $letter-spacing-m

    &--bold
      font-weight: bold

    &--adopted
      color: color(agray, light)

    &--adopted-light
      color: color(agray)

  +element('h4')
    +rem-fallback('font-size', $font-size-m)
    font-family: $helvetica
    color: color(agray, dark)
    font-weight: normal
    +rem-fallback('line-height', $line-height-h4)
    +rem-fallback('letter-spacing', $letter-spacing-sm)

    &--compact
      +rem-fallback('line-height', $line-height-h4v2)

    &--x-compact
      +rem-fallback('line-height', $line-height-h4v3)

    &--x-x-compact
      +rem-fallback('line-height', $line-height-h4v3museo)

    &--museo
      font-family: $font-museo

    &--light
      color: color(agray, darker)
      font-weight: 200
      letter-spacing: $letter-spacing-m

    &--bold
      font-weight: bold

    &--adopted
      color: color(agray, light)

    &--adopted-light
      color: color(agray)

  +element('h5')
    +rem-fallback('font-size', $font-size-s)
    font-family: $helvetica
    color: color(agray, dark)
    font-weight: normal
    +rem-fallback('line-height', $line-height-h5)

    &--compact
      +rem-fallback('line-height', $line-height-h5v2)

    &--x-compact
      +rem-fallback('line-height', $line-height-h5v2museo)

    &--museo
      font-family: $font-museo

    &--light
      color: color(agray, darker)
      font-weight: 200
      letter-spacing: $letter-spacing-m

    &--bold
      font-weight: bold

  +element('h6')
    +rem-fallback('font-size', $font-size-xs)
    font-family: $helvetica
    color: color(agray, dark)
    font-weight: normal
    +rem-fallback('line-height', $line-height-h6)

    &--compact
      +rem-fallback('line-height', $line-height-h6v2)

    &--x-compact
      +rem-fallback('line-height', $line-height-tiny)

    &--tiny
      +font-size(12)

    &--museo
      font-family: $font-museo

    &--light
      color: color(agray, darker)
      font-weight: 200
      letter-spacing: $letter-spacing-m

    &--bold
      font-weight: bold
