+b('modal-popup')
  align-items: center
  background: rgba(255, 255, 255, .9)
  bottom: 0
  display: flex
  justify-content: center
  left: 0
  opacity: 0
  overflow: hidden
  position: fixed
  right: 0
  top: 0
  transition: all .5s cubic-bezier(0.23, 1, 0.32, 1)
  visibility: hidden
  z-index: 1000
  -webkit-overflow-scrolling: touch

  +is('active')
    opacity: 10
    visibility: visible
    z-index: 100000

  +m('align-top')
    align-items: flex-start

  +e('dialog')
    max-width: 90%
    padding: $space_xxl 0
    width: 90%

  +e('content')
    @include border-radius($radius_l)
    background-clip: padding-box
    background: $color_white
    border: 6px solid $color_primary
    position: relative
    width: 100%

    header
      margin-bottom: 0
      height: $space_xl
      padding: 7px 0 0 $space_s

  +e('close')
    cursor: pointer
    z-index: 1100
    position: absolute
    top: $space_xxs
    right: $space_xxs
    padding: $space_xxs
    transition: all .5s cubic-bezier(.23,1,.32,1)

  +e('close-svg')
    pointer-events: none

@media screen and (max-width: 977px)
  +b('modal-popup')
    background: $color_white

    +e('dialog')
      max-width: 100% !important
      padding: 0
      width: 100%

    +e('close')
      padding: $space_xxxs
      right: $space_l
      top: 0

    +e('content')
      border-radius: 0
      border: none
      overscroll-behavior: none

      header
        background: $color_white
        border-bottom: 1px solid $color_gray_light
        height: $space_xl

      main
        overflow: scroll
        height: calc(100vh - 40px)
        box-sizing: border-box
        padding-top: $space_s
