+b('modal-popup')
  background: $color_white
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: scroll
  -webkit-overflow-scrolling: touch
  z-index: top

  +breakpoint('tablet-wide')
    align-items: center
    background: rgba(36,36,36,0.4)
    display: flex
    justify-content: center
    opacity: 0
    transition: all .5s cubic-bezier(0.23, 1, 0.32, 1)
    visibility: hidden
    z-index: 1000

  +is('active')
    opacity: 10
    visibility: visible
    z-index: 100000

  +m('align-top')
    align-items: flex-start

  +e('dialog')
    max-width: 100%
    padding: 0
    width: 100%

    +breakpoint('tablet-wide')
      padding: $space_xxl 0
      width: 90%
      +rem-fallback('max-width', 1170px)

  +e('close')
    float: right
    right: $space_l
    top: 0
    cursor: pointer

    +breakpoint(tablet-wide)
      cursor: pointer
      transition: all .5s cubic-bezier(.23,1,.32,1)

  +e('close-svg')
    pointer-events: none

  +e('content')
    border-radius: 0
    border: none
    overscroll-behavior: none

    +breakpoint('tablet-wide')
      @include border-radius($radius_l)
      background-clip: padding-box
      background: $color_white
      border: 6px solid $color_primary
      position: relative
      width: 100%

    header
      background: $color_white
      padding: $space_s $space_s $space_xxs $space_m

      +breakpoint(tablet-wide)
        border-bottom: none
        padding: $space_s $space_s $space_s $space_m

        &.l
          padding: $space_s $space_s 0 $space_m

    main
      padding: 0 $space_m $space_l
      overflow: scroll

      +breakpoint('tablet-wide')
        // height: calc(100vh - 40px)
        box-sizing: border-box
        padding: 0 16.67% $space_xl

        &.l
          padding: 0 8.33% $space_xl

    footer
      text-align: center

      +breakpoint('tablet-wide')
        text-align: right
