+b(npa-signup)
  text-align: center

  +e(content)
    max-width: 32rem

  +e(checkbox-text)
    margin-left: $space-xxs

  +e(skip-continue)
    align-items: center
    column-gap: $space-s
    display: grid
    grid-template-columns: 1fr 6fr
    text-align: left
