+b(npa-signup-search-filters)
  +e(container)
    display: grid
    +rem-fallback('grid-row-gap', 20px)
    grid-template-columns: 100%

    +breakpoint(tablet-plus)
      grid-template-columns: 49% 48%
      +rem-fallback('grid-column-gap', 24px)

  +e(title)
    +breakpoint(tablet-plus)
      text-align: center

  +e(save-close)
    +rem-fallback('margin', 30px 0 20px)

    +breakpoint(tablet-plus)
      +rem-fallback('width', 367px)
      +rem-fallback('margin', 40px auto)

  +e(error-message)
    color: #ff8f43
    padding-top: 10px
