+b(npa-signup-search-filters)
  +e(container)
    display: grid
    +rem-fallback('grid-row-gap', $space-s)
    grid-template-columns: 100%

    +breakpoint(tablet-wide)
      grid-template-columns: 49% 48%
      +rem-fallback('grid-column-gap', $space-m)

  +e(title)
    +breakpoint(tablet-wide)
      text-align: center

  +e(save-close)
    +rem-fallback('margin', 30px 0 $space-s)

    +breakpoint(tablet-wide)
      +rem-fallback('width', 367px)
      +rem-fallback('margin', $space-xl auto)
