+b('offers-form')
  font-size: $font_size_xxs

  +e('link-blue')
    color: $color_primary
    cursor: pointer
    &:hover
      text-decoration: underline

  +e('arrow')
    line-height: 0

    svg
      transform: rotate(-0.25turn)
      transition: all .3s ease-in-out
      width: .6875rem
      height: .6875rem
      fill: $color_primary

    +is('expanded')
      svg
        transform: rotate(0.25turn)

    +e('checkbox-text')
      display: none

  +e('all-offers')
    +rem-fallback(padding, $space_s)
    font-weight: $font_weight_light
    background: $color_gray

    a
      font-weight: $font_weight_normal

  +e('footnote')
    font-weight: $font_weight_normal
    color: $color_gray_light
