+b('offers-form')
  font-size: $font-size-xxs

  +e('link-blue')
    color: $color-primary
    cursor: pointer
    &:hover
      text-decoration: underline

  +e('arrow')
    line-height: 0

    svg
      transform: rotate(-0.25turn)
      transition: all .3s ease-in-out
      width: .6875rem
      height: .6875rem
      fill: $color-primary

    +is('expanded')
      svg
        transform: rotate(0.25turn)

    +e('checkbox-text')
      display: none

  +e('all-offers')
    +rem-fallback(padding, $space-s)
    font-weight: 200
    background: $color-gray

    a
      font-weight: 400

  +e('footnote')
    font-weight: 400
    color: color(agray, light)
