+b(password-forgot)

  .h1
    +breakpoint(tablet-wide)
      text-align: center

  .grid
    display: grid

    +breakpoint(tablet-wide)
      grid-template-columns: 65% 35%

      > div:nth-child(1)
        +rem-fallback('padding-right', $space-xxl)
        +rem-fallback('margin-bottom', $space-xxl)
        +rem-fallback('border-right', 1px solid $color-gray)

      > div:nth-child(2)
        +rem-fallback('padding-left', $space-xxl)

      h3
        +rem-fallback('line-height', $line_height_l_v2)
