$sizes: ( xxxs: $font-size-xxxs, xxs: $font-size-xxs, xs: $font-size-xs, s: $font-size-s, m: $font-size-m, l: $font-size-l, xl: $font-size-xl, xxl: $font-size-xxl )

+block('paragraph')
  letter-spacing: $letter-spacing-m
  font-weight: normal

  @each $size, $token in $sizes
    +m(size-#{$size})
      +rem-fallback('font-size', $token)

  +m('family-museo')
    font-family: $font-museo

  +m('weight-light')
    font-weight: 200

  +m('weight-normal')
    font-weight: normal

  +m('weight-bold')
    font-weight: bold
