+b(pagination)
  text-align: center

  .controls
    display: flex
    justify-content: center
    +rem-fallback('margin', 35px 0 28px)

    > .periodic-icon
      +rem-fallback('margin-top', 3px)

    .pages
      +rem-fallback('width', 186px)
      position: relative
      font-size: $space_s
      font-weight: $font_weight_light
      +rem-fallback('line-height', 26px)
      cursor: pointer

    .pet-results-popup
      position: absolute
      +rem-fallback('margin-left', $space_xs)

      ul
        margin: 0
        padding: 0
        list-style: none

        li
          +rem-fallback('padding-bottom', 6px)
          display: flex

          &:last-child
            padding-bottom: 0

          a
            +rem-fallback('font-size', $font_size_s)
            font-weight: $font_weight_normal
            +rem-fallback('line-height', $line_height_s)
            display: flex
            +rem-fallback('width', 88px)

            &.active
              font-weight: $font_weight_bold

          .periodic-icon
            fill: $color_primary
            margin-left: 1em

            &.active
              color: $color_primary
