$sizes: ( xxs: $font-size-xxs, xs: $font-size-xs, s: $font-size-s, m: $font-size-m, l: $font-size-l, xl: $font-size-xl, xxl: $font-size-xxl )

+b('paragraph')
  letter-spacing: $letter-spacing-default
  font-weight: $font-weight-normal
  margin-bottom: 40px

  a
    font-weight: $font-weight-bold

  @each $size, $token in $sizes
    +m(size-#{$size})
      +rem-fallback('font-size', $token)

  +m('color-gray')
    color: $color-gray

  +m('color-gray-light')
    color: $color-gray-light

  +m('color-blue')
    color: color(ablue)

  +m('family-special')
    font-family: $font-special

  +m('weight-light')
    font-weight: $font-weight-light

  +m('weight-normal')
    font-weight: $font-weight-normal

  +m('weight-bold')
    font-weight: $font-weight-bold
