@include b('payment-form') {

  @include element('quick-pay') {
    display: inline-block;
    margin: 0px 10px 30px 0px;
    border-bottom: 1px solid;
    color: #9B9B9B;
    cursor: pointer;

    &:hover {
      color: $color-primary-blue;
      text-decoration: none;
    }

    @include modifier('active') {
      display: inline-block;
      color: $color-primary-blue;
      font-weight: bold;
      border-bottom: 2px solid;
      margin: 0px 10px 30px 0px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @include element('credit-card') {
    display: inline-block;
    margin: 0px 10px 30px 10px;
    border-bottom: 1px solid;
    color: #9B9B9B;
    cursor: pointer;

    &:hover {
      color: $color-primary-blue;
      text-decoration: none;
    }

    @include modifier('active') {
      display: inline-block;
      color: $color-primary-blue;
      font-weight: bold;
      border-bottom: 2px solid;
      margin: 0px 10px 30px 10px;
      
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include element('payment-request-button') {
    background-color: black;
    vertical-align: text-bottom;
    display: inline-block;
    
    &:hover {
      background-color: black;
    }
  }

  @include element('form-control') {
    color: color(agray, darker);
    display: grid;
    grid-template-areas:
      'firstname firstname'
      'lastname lastname'
      'zipcode zipcode'
      'cardnumber cardnumber'
      'cardexpiry cardcvc';
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    @include modifier('card-errors') {
      color: color(agray, darker);
      display: grid;
      grid-template-areas:
        'firstname firstname'
        'lastname lastname'
        'zipcode zipcode'
        'cardnumber cardnumber'
        'errors errors'
        'cardexpiry cardcvc';
      grid-column-gap: 10px;
      grid-row-gap: 20px;
    }

    @include modifier('payment-error') {
      color: color(agray, darker);
      display: grid;
      grid-template-areas:
        'firstname firstname'
        'lastname lastname'
        'zipcode zipcode'
        'cardnumber cardnumber'
        'cardexpiry cardcvc'
        'paymenterror paymenterror';
      grid-column-gap: 10px;
      grid-row-gap: 20px;
    }

    @include modifier('multiple-errors') {
      color: color(agray, darker);
      display: grid;
      grid-template-areas:
        'firstname firstname'
        'lastname lastname'
        'zipcode zipcode'
        'cardnumber cardnumber'
        'errors errors'
        'cardexpiry cardcvc'
        'paymenterror paymenterror';
      grid-column-gap: 10px;
      grid-row-gap: 20px;
    }

    @include breakpoint(tablet-plus) {
      grid-template-areas:
        'firstname lastname'
        'zipcode zipcode'
        'cardnumber cardnumber'
        'cardexpiry cardcvc';
      grid-column-gap: 20px;

      @include modifier('card-errors') {
        grid-template-areas:
          'firstname lastname'
          'zipcode zipcode'
          'cardnumber cardnumber'
          'errors errors'
          'cardexpiry cardcvc';
        grid-column-gap: 20px;
      }

      @include modifier('payment-error') {
        grid-template-areas:
          'firstname lastname'
          'zipcode zipcode'
          'cardnumber cardnumber'
          'cardexpiry cardcvc'
          'paymenterror paymenterror';
        grid-column-gap: 20px;
      }

      @include modifier('multiple-errors') {
        grid-template-areas:
          'firstname lastname'
          'zipcode zipcode'
          'cardnumber cardnumber'
          'errors errors'
          'cardexpiry cardcvc'
          'paymenterror paymenterror';
        grid-column-gap: 20px;
      }


    }

  }

  @include element('card-number') {
    grid-area: cardnumber;
  }

  @include element('card-errors') {
    margin-top: -15px;
    grid-area: errors;
    color: color(aorange);
  }

  @include element('card-expiry') {
    grid-area: cardexpiry;
  }

  @include element('card-cvc') {
    grid-area: cardcvc;
  }

  @include element('first-name') {
    grid-area: firstname;
  }

  @include element('last-name') {
    grid-area: lastname;
  }

  @include element('zip-code') {
    grid-area: zipcode;
  }

  @include element('error-text') {
    grid-area: paymenterror;
  }

  @include element('text-orange') {
    color: color(aorange) !important;
  }
}

.StripeElement {
  box-sizing: border-box;
  height: 3.625rem;
  padding: 17px;
  border: 1px solid color(agray, light);
  border-radius: 6px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: color(aorange);
}

.StripeElement--complete {
  border-color: color(agreen);
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}