@include b('payment-form') {

  @include element('form-control') {
    color: color(agray, darker);
    display: grid;
    grid-template-areas:
      'firstname firstname'
      'lastname lastname'
      'zipcode zipcode'
      'cardnumber cardnumber'
      'cardexpiry cardcvc';
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    @include breakpoint(tablet-plus) {
      grid-template-areas:
        'firstname lastname'
        'zipcode zipcode'
        'cardnumber cardnumber'
        'cardexpiry cardcvc';
      grid-column-gap: 20px;
    }
  }

  @include element('card-number') {
    grid-area: cardnumber;
  }

  @include element('card-expiry') {
    grid-area: cardexpiry;
  }

  @include element('card-cvc') {
    grid-area: cardcvc;
  }

  @include element('first-name') {
    grid-area: firstname;
  }

  @include element('last-name') {
    grid-area: lastname;
  }

  @include element('zip-code') {
    grid-area: zipcode;
  }

  @include element('error-text') {
    color: color(aorange) !important;
  }
}