+b(pagination)
  text-align: center

  .controls
    display: flex
    justify-content: center
    margin: 35px 0 28px

    > .periodic-icon
      margin-top: 3px

    .pages
      +rem-fallback('width', 186px)
      position: relative
      font-size: $space_s
      font-weight: $font_weight_light
      +rem-fallback('line-height', 26px)
      cursor: pointer

    .pet-results-popup
      position: absolute
      margin-left: 15px

      ul
        margin: 0
        padding: 0
        list-style: none

        li
          padding-bottom: 6px
          display: flex

          &:last-child
            padding-bottom: 0

          a
            font-size: 16px
            font-weight: $font_weight_normal
            +rem-fallback('line-height', $line_height_s)
            display: flex
            +rem-fallback('width', 88px)

            &.active
              font-weight: $font_weight_bold

          .periodic-icon
            fill: $color_primary
            margin-left: 1em

            &.active
              color: $color_primary
