+b(password-forgot)

  .h1
    +breakpoint(tablet-wide)
      text-align: center

  .grid
    display: grid

    +breakpoint(tablet-wide)
      grid-template-columns: 65% 35%

      > div:nth-child(1)
        padding-right: 50px
        margin-bottom: 50px
        border-right: 1px solid $color-gray

      > div:nth-child(2)
        padding-left: 50px

      h3
        line-height: 1.875rem
