+b('radio-box')
  display: grid
  +rem-fallback('grid-column-gap', 5px)
  list-style-type: none
  padding: 0
  width: 100%

  +breakpoint(tablet-wide)
    +rem-fallback('grid-column-gap', 25px)

  +element('item')
    @include rem-fallback('padding', $space_m)
    margin: 0
    +rem-fallback('margin-top', 10px)
    position: relative
    border: 1px solid $color-gray-darker
    border-radius: $radius_l

    &--selected
      border: 1px solid $color_primary

  +element('icon')
    display: block
    +rem-fallback('height', 30px)
    +rem-fallback('margin-bottom', 5px)
    text-align: center

    svg
      +rem-fallback('max-height', 30px)

  +element('button')
    position: absolute
    visibility: hidden
    +rem-fallback('top', 10px)
    +rem-fallback('right', 10px)

    &:hover ~ .#{$prefix-component}radio-box__outside
      border: 2px solid $color_primary

      &.#{$prefix-component}radio-box__outside--color-blue
        border: 2px solid $color_white

        &::before
          background: $color_white

    &:disabled+.#{$prefix-component}radio-box__label
      color: $color-gray-dark

    &:disabled ~ .#{$prefix-component}radio-box__outside
      &::before
        background: transparent

      &:hover
        border: 2px solid $color_primary

      &.#{$prefix-component}radio-box__outside--color-blue,
      &.#{$prefix-component}radio-box__outside--color-grey,
      &.#{$prefix-component}radio-box__outside--color-ltgrey
        &::before
          background: transparent

    &:disabled+.#{$prefix-component}radio-box__label--color-blue
      color: $ablue-light

    &:disabled+.#{$prefix-component}radio-box__label--color-grey,
    &:disabled+.#{$prefix-component}radio-box__label--color-ltgrey
      color: $color-gray-darker

    &:checked ~ .#{$prefix-component}radio-box__outside
      border: 2px solid $color_primary

      &::before
        height: 13px
        width: 13px
        top: 2px
        left: 2px

    &:checked ~ .#{$prefix-component}radio-box__outside--color-blue
      &.#{$prefix-component}radio-box__outside
        border: 2px solid $color_white

        &::before
          height: 13px
          width: 13px
          top: 2px
          left: 2px

    &:disabled ~ .#{$prefix-component}radio-box__outside--color-blue
      &.#{$prefix-component}radio-box__outside
        border: 2px solid $ablue-light

    &:disabled ~ .#{$prefix-component}radio-box__outside--color-grey,
    &:disabled ~ .#{$prefix-component}radio-box__outside--color-ltgrey
      &.#{$prefix-component}radio-box__outside
        border: 2px solid $color-gray-darker

    &:disabled ~ .#{$prefix-component}radio-box__outside--color-white
      &.#{$prefix-component}radio-box__outside
        border: 2px solid $color-gray-dark

    &:checked ~ .#{$prefix-component}radio-box__outside
      &::before
        background: $color_primary

    &:checked ~ .#{$prefix-component}radio__outside--color-blue
      &.#{$prefix-component}radio-box__outside
        &::before
          background: $color_white

  +element('label')
    +rem-fallback('font-size', $font-size-xs)
    +rem-fallback('border-radius', $radius_l)
    +rem-fallback('line-height', $line-height-xs-v2)
    display: inline-block
    font-weight: $font-weight-light
    text-align: center
    width: 100%

    +modifier('blue')
      color: $color-white

    .bold
      font-weight: $font-weight-bold

  +element('outside')
    display: block
    position: absolute
    border: 2px solid $color-gray-darker
    border-radius: 100%
    +rem-fallback('padding', 8.5px)
    +rem-fallback('top', 10px)
    +rem-fallback('right', 10px)
    z-index: 5
    &::before
      display: block
      position: absolute
      content: ''
      border-radius: 100%
      height: 17px
      width: 17px
      top: 0
      left: 0
      margin: auto

    &--color-blue
      &.#{$prefix-component}radio-box__outside
        border: 2px solid $color_white

  +element('item')
    background: $color_white

    +m('not-selected')
      border: 1px solid $color-gray-dark

      .#{$prefix-component}radio-box__icon
        svg
          path
            fill: $color-gray-dark

      .#{$prefix-component}radio-box__button
        &:hover ~ .#{$prefix-component}radio-box__outside
          border: 2px solid $color_primary

          &.#{$prefix-component}radio-box__outside--color-blue
            border: 2px solid $color_white

            &::before
              background: $color_white

      .#{$prefix-component}radio-box__label
        color: $color-gray-dark

      .#{$prefix-component}radio-box__outside
        border: 2px solid $color-gray-dark
