+b('radio-box')
  display: grid
  +rem-fallback('grid-column-gap', 5px)
  list-style-type: none
  padding: 0
  width: 100%

  +breakpoint(tablet-wide)
    +rem-fallback('grid-column-gap', 25px)

  +element('item')
    @include rem-fallback('padding', $space_m)
    margin: 0
    +rem-fallback('margin-top', 10px)
    position: relative
    +rem-fallback('border', 1px solid $color_gray_darker)
    border-radius: $radius_l

    &--selected
      +rem-fallback('border', 1px solid $color_primary)

  +element('icon')
    display: block
    +rem-fallback('height', 30px)
    +rem-fallback('margin-bottom', 5px)
    text-align: center

    svg
      +rem-fallback('max-height', 30px)

  +element('button')
    position: absolute
    visibility: hidden
    +rem-fallback('top', 10px)
    +rem-fallback('right', 10px)

    &:hover ~ .#{$prefix_component}radio-box__outside
      +rem-fallback('border', 2px solid $color_primary)

      &.#{$prefix_component}radio-box__outside--color-blue
        +rem-fallback('border', 2px solid $color_white)

        &::before
          background: $color_white

    &:disabled+.#{$prefix_component}radio-box__label
      color: $color_gray_dark

    &:disabled ~ .#{$prefix_component}radio-box__outside
      &::before
        background: transparent

      &:hover
        +rem-fallback('border', 2px solid $color_primary)

      &.#{$prefix_component}radio-box__outside--color-blue,
      &.#{$prefix_component}radio-box__outside--color-grey,
      &.#{$prefix_component}radio-box__outside--color-ltgrey
        &::before
          background: transparent

    &:disabled+.#{$prefix_component}radio-box__label--color-blue
      color: $color_primary

    &:disabled+.#{$prefix_component}radio-box__label--color-grey,
    &:disabled+.#{$prefix_component}radio-box__label--color-ltgrey
      color: $color_gray_darker

    &:checked ~ .#{$prefix_component}radio-box__outside
      +rem-fallback('border', 2px solid $color_primary)

      &::before
        +rem-fallback('height', 13px)
        +rem-fallback('width', 13px)
        +rem-fallback('top', 2px)
        +rem-fallback('left', 2px)

    &:checked ~ .#{$prefix_component}radio-box__outside--color-blue
      &.#{$prefix_component}radio-box__outside
        +rem-fallback('border', 2px solid $color_white)

        &::before
          +rem-fallback('height', 13px)
          +rem-fallback('width', 13px)
          +rem-fallback('top', 2px)
          +rem-fallback('left', 2px)

    &:disabled ~ .#{$prefix_component}radio-box__outside--color-blue
      &.#{$prefix_component}radio-box__outside
        +rem-fallback('border', 2px solid $color_primary)

    &:disabled ~ .#{$prefix_component}radio-box__outside--color-grey,
    &:disabled ~ .#{$prefix_component}radio-box__outside--color-ltgrey
      &.#{$prefix_component}radio-box__outside
        +rem-fallback('border', 2px solid $color_gray_darker)

    &:disabled ~ .#{$prefix_component}radio-box__outside--color-white
      &.#{$prefix_component}radio-box__outside
        +rem-fallback('border', 2px solid $color_gray_dark)

    &:checked ~ .#{$prefix_component}radio-box__outside
      &::before
        background: $color_primary

    &:checked ~ .#{$prefix_component}radio__outside--color-blue
      &.#{$prefix_component}radio-box__outside
        &::before
          background: $color_white

  +element('label')
    +rem-fallback('font-size', $font_size_xs)
    +rem-fallback('border-radius', $radius_l)
    +rem-fallback('line-height', $line_height_xs_v2)
    display: inline-block
    font-weight: $font_weight_light
    text-align: center
    width: 100%

    +modifier('blue')
      color: $color_white

    .bold
      font-weight: $font_weight_bold

  +element('outside')
    display: block
    position: absolute
    +rem-fallback('border', 2px solid $color_gray_darker)
    border-radius: 100%
    +rem-fallback('padding', 8.5px)
    +rem-fallback('top', 10px)
    +rem-fallback('right', 10px)
    z-index: 5
    &::before
      display: block
      position: absolute
      content: ''
      border-radius: 100%
      +rem-fallback('height', 17px)
      +rem-fallback('width', 17px)
      top: 0
      left: 0
      margin: auto

    &--color-blue
      &.#{$prefix_component}radio-box__outside
        +rem-fallback('border', 2px solid $color_white)

  +element('item')
    background: $color_white

    +m('not-selected')
      +rem-fallback('border', 1px solid $color_gray_dark)

      .#{$prefix_component}radio-box__icon
        svg
          path
            fill: $color_gray_dark

      .#{$prefix_component}radio-box__button
        &:hover ~ .#{$prefix_component}radio-box__outside
          +rem-fallback('border', 2px solid $color_primary)

          &.#{$prefix_component}radio-box__outside--color-blue
            +rem-fallback('border', 2px solid $color_white)

            &::before
              background: $color_white

      .#{$prefix_component}radio-box__label
        color: $color_gray_dark

      .#{$prefix_component}radio-box__outside
        +rem-fallback('border', 2px solid $color_gray_dark)
