+b(search-form)
  padding: $space-m
  background: $color-gray
  border-radius: $radius-m
  border-top: 10px solid $color-primary

  h3
    margin-bottom: $space-xxxxs

  nav
    display: flex
    justify-content: space-between

    a
      display: inline-block
      text-align: center
      cursor: pointer
      padding: $space-xxs
      font-size: $font-size-s
      font-family: $font
      font-weight: $font-weight-bold
      color: #b3b3b3

      div.underline
        margin: 0 auto
        height: 2px
        width: 0
        transition: width .25s

      &:hover
        color: $color-primary

        div.underline
          width: 100%
          background: $color-primary

      &.active
        color: #008bb8

        div.underline
          width: 100%
          background: #008bb8

  section

    .#{$prefix-component}text-field__container, .#{$prefix-component}checkbox
      margin-bottom: 10px

  button.submit
    margin-top: 20px
