+b(status-list)
  width: 100%

  +breakpoint(tablet-wide)
    justify-content: unset

    &.columns-2
      column-count: 2

    &.columns-3
      column-count: 3

    &.columns-4
      column-count: 4

    &.columns-5
      column-count: 5

    &.columns-6
      column-count: 6

  +e(label)
    display: flex
    padding-right: 0
    @include rem-fallback('margin-top', 15px)

    h4
      margin: 0

  +e(icon)
    display: block
    +rem-fallback('width', 16px)
    +rem-fallback('height', 12px)
    +rem-fallback('margin-right', $space_s)

    +m('state-tick')
      +rem-fallback('margin-top', 2px)
      align-self: flex-start

    +m('state-exclamation')
      +rem-fallback('margin-top', 3px)
      +rem-fallback('height', 17px)
      +rem-fallback('padding-left', 4px)
      align-self: flex-start
