+b(textlink)
  cursor: pointer
  hover: none
  text-decoration: none

  +m(underline)
    text-decoration: underline

  +m(color-primary)
    color: $color_primary

    +breakpoint(tablet-wide)
      &:hover
        text-decoration: underline
        color: $color_primary_dark

    &:active
      text-decoration: underline
      color: $color_primary_dark

  +m(color-black)
    color: $color_black

    +breakpoint(tablet-wide)
      &:hover
        text-decoration: underline
        color: $color_primary_dark

      &:active
          text-decoration: underline
          color: $color_primary_dark
