+b('table-of-contents')
  list-style-type: none
  padding: 0
  width: 100%

  nav

    +breakpoint(tablet-wide)
      column-count: 3

    li
      font-weight: $font_weight_light
      +rem-fallback('padding', $space_xs 0)

    .#{$prefix_component}textlink
      color: $color_black

      &:hover
        color: $color_primary
        text-decoration: none
