+b('user-survey')
  +e('dropdown-group')
    @include rem-fallback('column-gap', $space-xs)
    @include rem-fallback('row-gap', $space-xs)
    display: grid

    +breakpoint(tablet-plus)
      grid-template-columns: 1fr 1fr

  +e('haspets-checkboxes')
    display: grid

    +breakpoint(tablet-plus)
      grid-template-columns: 1fr 1fr

  +e('checkbox-label')
    position: relative
    @include rem-fallback('top', -5px)
    @include rem-fallback('margin-left', 10px)