+b('user-survey')
  +e('dropdown-group')
    column-gap: $space-xs
    row-gap: $space-xs
    display: grid

    +breakpoint(tablet-wide)
      grid-template-columns: 1fr 1fr

  +e('haspets-checkboxes')
    row-gap: $space-xxs
    display: grid

    +breakpoint(tablet-wide)
      row-gap: $space-s
      grid-template-columns: 1fr 1fr

  +e('checkbox-label')
    position: relative
    +rem-fallback('top', -5px)
    +rem-fallback('margin-left', 10px)