+b(value-list)
  +breakpoint(tiny)
    @include rem-fallback('padding', 30px 0)

  +breakpoint(tablet-wide)
    @include rem-fallback('padding', $space-s 0)
    border-top: 0

  +e(content)
    display: flex
    flex-wrap: wrap

    +breakpoint(tiny)
      flex-direction: row
      height: auto

    +breakpoint(tablet)
      flex-direction: unset
      flex-basis: 100%
      justify-content: space-between

    +breakpoint(tablet-wide)
      flex-direction: row
      height: auto
      justify-content: unset

  +e(item)
    word-break: break-word
    display: flex
    @include rem-fallback('margin-top', 10px)

    +breakpoint(tiny)
      flex: 0 0 100%

    +breakpoint(tablet)
      flex: 0 0 calc(50% - 12px)
      @include rem-fallback('margin-top', 15px)

      &:nth-of-type(1)
        order: 1

      &:nth-of-type(2)
        order: 3

      &:nth-of-type(3)
        order: 5

      &:nth-of-type(4)
        order: 2

      &:nth-of-type(5)
        order: 4

      &:nth-of-type(6)
        order: 6

    +breakpoint(tablet-wide)
      flex: 0 0 100%

      &:nth-of-type(1n+1)
        order: unset

    +m(full-width)
      flex-wrap: wrap

    +m(section)
      word-break: break-word

  +e(label)
    flex: 0 0 25%

    +m(full-width)
      flex: 0 0 100%
      @include rem-fallback('margin-bottom', 5px)

    +breakpoint(tablet)
      flex: 0 0 20%

  +e(text)
    +m(full-width)
      flex: 0 0 100%
