// MIXINS

// Mixins For Headings

@mixin heading($h-heading) {
  @if $h-heading == "h5-heading" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: normal;
    @include font-size(16);
    @include rem-fallback("line-height", 25px);
  }
  @if $h-heading == "h5-museo" {
    font-family: $font-museo;
    @include font-size(16);
    font-weight: 700;
  }
  @if $h-heading == "h6-heading" {
    font-family: $font-museo;
    font-weight: 700;
    @include font-size(14);
    @include rem-fallback("line-height", 22px);
  }
  @if $h-heading == "h6-museo" {
    font-family: $font-museo;
    font-weight: 700;
    @include font-size(14);
  }
  @if $h-heading == "h1-museo" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(45);
    line-height: 1.37;
    @include rem-fallback("letter-spacing", -1px);
  }
  @if $h-heading == "h2-museo" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(32);
    line-height: 1.5;
    @include rem-fallback("letter-spacing", -0.5px);
  }
  @if $h-heading == "h4__heading-h4--bold" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: bold;
    @include font-size(20);
    @include rem-fallback("line-height", 32px);
    @include rem-fallback("letter-spacing", -0.25px);
  }
  @if $h-heading == "h4__heading-h4--bold-h4--compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: bold;
    @include font-size(20);
    @include rem-fallback("line-height", 26px);
    @include rem-fallback("letter-spacing", -0.25px);
  }
  @if $h-heading == "h4__heading-h4--bold-h4--x-compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: bold;
    @include font-size(20);
    @include rem-fallback("line-height", 24px);
    @include rem-fallback("letter-spacing", -0.25px);
  }
  @if $h-heading == "h4__heading-h4--light-h4--compact" {
    font-family: $helvetica;
    color: color(agray, darker);
    font-weight: 200;
    @include font-size(20);
    @include rem-fallback("line-height", 26px);
    letter-spacing: 0;
  }
  @if $h-heading == "h4__heading-h4--light-h4--x-compact" {
    font-family: $helvetica;
    color: color(agray, darker);
    font-weight: 200;
    @include font-size(20);
    @include rem-fallback("line-height", 24px);
    letter-spacing: 0;
  }
  @if $h-heading == "h5__heading" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 400;
    @include font-size(16);
    @include rem-fallback("line-height", 25px);
    letter-spacing: 0;
  }
  @if $h-heading == "h5__heading-h5--museo" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(16);
    @include rem-fallback("line-height", 25px);
    letter-spacing: 0;
  }
  @if $h-heading == "h5__heading-h5--museo-h5--x-compact" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 400;
    @include font-size(16);
    @include rem-fallback("line-height", 18px);
    letter-spacing: 0;
  }
  @if $h-heading == "h5__heading-h5--light-h5--compact" {
    font-family: $helvetica;
    color: color(agray, darker);
    font-weight: 200;
    @include font-size(16);
    @include rem-fallback("line-height", 20px);
    letter-spacing: 0;
  }
  @if $h-heading == "h5__heading-h5--light" {
    font-family: $helvetica;
    color: color(agray, darker);
    font-weight: 200;
    @include font-size(16);
    @include rem-fallback("line-height", 25px);
    letter-spacing: 0;
  }
  @if $h-heading == "h4__heading-h4--compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: normal;
    @include font-size(20);
    @include rem-fallback("line-height", 26px);
    @include rem-fallback("letter-spacing", -0.25px);
  }
  @if $h-heading == "h4__heading-h4--x-compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: normal;
    @include font-size(20);
    @include rem-fallback("line-height", 24px);
    @include rem-fallback("letter-spacing", -0.25px);
  }
  @if $h-heading == "h5__heading-h5--compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: normal;
    @include font-size(16);
    @include rem-fallback("line-height", 20px);
    letter-spacing: 0;
  }
  @if $h-heading == "h5__heading-h5--bold-h5--compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(16);
    @include rem-fallback("line-height", 20px);
    letter-spacing: 0;
  }
  @if $h-heading == "h5__heading-h5--bold" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(16);
    @include rem-fallback("line-height", 25px);
    letter-spacing: 0;
  }
  @if $h-heading == "h1__heading-h1--museo" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(45);
    @include rem-fallback("line-height", 62px);
    @include rem-fallback("letter-spacing", -1px);
  }
  @if $h-heading == "h2__heading-h2--museo" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(32);
    @include rem-fallback("line-height", 48px);
    @include rem-fallback("letter-spacing", -0.5px);
  }
  @if $h-heading == "h3__heading-h3--museo" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: normal;
    @include font-size(26);
    @include rem-fallback("line-height", 39px);
    @include rem-fallback("letter-spacing", -0.5px);
  }
  @if $h-heading == "h3__heading-h3--bold" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(26);
    @include rem-fallback("line-height", 39px);
    @include rem-fallback("letter-spacing", -0.5px);
  }
  @if $h-heading == "h3__heading-h3--museo-h3--x-compact" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(26);
    @include rem-fallback("line-height", 30px);
    @include rem-fallback("letter-spacing", -0.5px);
  }
  @if $h-heading == "h3__heading-h3--bold-h3--compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(26);
    @include rem-fallback("line-height", 31px);
    @include rem-fallback("letter-spacing", -0.5px);
  }
  @if $h-heading == "h6__heading-h6--light-h6--compact" {
    font-family: $helvetica;
    color: color(agray, darker);
    font-weight: 200;
    @include font-size(14);
    @include rem-fallback("line-height", 17px);
    letter-spacing: 0;
  }
  @if $h-heading == "h6__heading-h6--compact" {
    font-family: $helvetica;
    font-weight: normal;
    @include font-size(14);
    @include rem-fallback("line-height", 17px);
  }
  @if $h-heading == "h6__heading-h6--museo-h6--compact" {
    font-family: $font-museo;
    font-weight: normal;
    @include font-size(14);
    @include rem-fallback("line-height", 17px);
  }
  @if $h-heading == "h6__heading-h6--bold" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(14);
    @include rem-fallback("line-height", 22px);
    letter-spacing: 0;
  }
  @if $h-heading == "h6__heading-h6--bold-h6--compact" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(14);
    @include rem-fallback("line-height", 17px);
    letter-spacing: 0;
  }
  @if $h-heading == "h6__heading" {
    font-family: $helvetica;
    color: color(agray, dark);
    font-weight: 400;
    @include font-size(14);
    @include rem-fallback("line-height", 22px);
    letter-spacing: 0;
  }
  @if $h-heading == "h4__heading-h4--museo-h4--compact" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 700;
    @include font-size(20);
    @include rem-fallback("line-height", 26px);
    @include rem-fallback("letter-spacing", -0.25px);
  }
  @if $h-heading == "h4__heading-h4--museo" {
    font-family: $font-museo;
    color: color(agray, dark);
    font-weight: 400;
    @include font-size(20);
    @include rem-fallback("line-height", 32px);
    @include rem-fallback("letter-spacing", -0.25px);
  }
}

// Mixins For Margin Spacing

@mixin margin-space($m-space) {
  @if $m-space == "tiny" {
    @include rem-fallback("margin", 0 0 10px);
  } @else if $m-space == "x-small" {
    @include rem-fallback("margin", 0 0 15px);
  } @else if $m-space == "small" {
    @include rem-fallback("margin", 0 0 20px);
  } @else if $m-space == "medium" {
    @include rem-fallback("margin", 0 0 40px);
  } @else if $m-space == "big" {
    @include rem-fallback("margin", 0 0 60px);
  } @else if $m-space == "large" {
    @include rem-fallback("margin", 0 0 80px);
  } @else if $m-space == "t-medium" {
    @include rem-fallback("margin", 40px 0 0);
  } @else if $m-space == "tb-medium" {
    @include rem-fallback("margin", 40px 0);
  } @else if $m-space == "tb-small" {
    @include rem-fallback("margin", 20px 0);
  } @else if $m-space == "tb-tiny" {
    @include rem-fallback("margin", 10px 0);
  } @else if $m-space == "tb-x-tiny" {
    @include rem-fallback("margin", 5px 0);
  } @else if $m-space == "r-tiny" {
    @include rem-fallback("margin", 0 10px 0 0);
  } @else if $m-space == "r-medium" {
    @include rem-fallback("margin", 0 40px 0 0);
  } @else if $m-space == "l-tiny" {
    @include rem-fallback("margin", 0 0 0 10px);
  } @else if $m-space == "l-medium" {
    @include rem-fallback("margin", 0 0 0 40px);
  } @else if $m-space == "pet-card-big" {
    @include rem-fallback("margin", 10px 10px 15px 10px);
  }
}

// Mixins For Padding Spacing

@mixin padding-space($p-space) {
  @if $p-space == "tiny" {
    @include rem-fallback("padding", 0 0 10px);
  } @else if $p-space == "x-small" {
    @include rem-fallback("padding", 0 0 15px);
  } @else if $p-space == "small" {
    @include rem-fallback("padding", 0 0 20px);
  } @else if $p-space == "medium" {
    @include rem-fallback("padding", 0 0 40px);
  } @else if $p-space == "big" {
    @include rem-fallback("padding", 0 0 60px);
  } @else if $p-space == "large" {
    @include rem-fallback("padding", 0 0 80px);
  } @else if $p-space == "t-medium" {
    @include rem-fallback("padding", 40px 0 0);
  } @else if $p-space == "t-small" {
    @include rem-fallback("padding", 20px 0 0);
  } @else if $p-space == "tb-medium" {
    @include rem-fallback("padding", 40px 0);
  } @else if $p-space == "r-tiny" {
    @include rem-fallback("padding", 0 10px 0 0);
  } @else if $p-space == "l-tiny" {
    @include rem-fallback("padding", 0 0 0 10px);
  } @else if $p-space == "pet-card-big" {
    @include rem-fallback("padding", 10px 10px 15px 10px);
  } @else if $p-space == "pet-card-small" {
    @include rem-fallback("padding", 8px 0 8px 8px);
  } @else if $p-space == "l-x-small" {
    @include rem-fallback("padding", 10px 0 10px 15px);
  }
}

// Mixins For Textarea

@mixin labeltext($labeltext) {
  color: color(agray, light);
  position: absolute;
  @include rem-fallback("left", 17px);
  pointer-events: none;
  transition: 0.2s ease;
  @if $labeltext == "label-field" {
    @include font-size(20);
    @include rem-fallback("bottom", 14px);
  } @else if $labeltext == "label-textarea" {
    @include font-size(20) @include rem-fallback("top", 53px);
    @include rem-fallback("left", 20px);
  } @else if $labeltext == "label-field-small" {
    @include font-size(16);
    @include rem-fallback("top", 14px);
    @include rem-fallback("left", 16px);
  }
}
