$gutter: em(24);

.about-us {
  .image {
    display: inline-block;
  }

  .m-space-t--sm-medium {
    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 60px 0 0);
    }
  }

  .link-blue {
    font-weight: 400;
  }

  .mobile-break {
    display: block;

    @include breakpoint(normal) {
      display: none;
    }
  }

  .desktop-break {
    display: none;

    @include breakpoint(normal) {
      display: block;
    }
  }

  .p__body-copy {
    color: color(agray, darker);
    letter-spacing: 0;
  }

  .h1__heading {
    @include rem-fallback("font-size", 32px);
    @include rem-fallback("line-height", 48px);
    letter-spacing: -0.5px;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("font-size", 45px);
      @include rem-fallback("line-height", 62px);
      letter-spacing: -1px;
    }
  }

  &__hero {
    width: 100%;
    overflow: hidden;

    @include breakpoint(tablet-plus) {
      @include container($tablet-plus);

      &.m-space-t--x-small {
        @include rem-fallback("margin-top", 20px);
      }
    }

    @include breakpoint(wide) {
      @include container($wide);
    }

    .image {
      display: flex;
      width: 100%;
      height: auto;

      &--mobile {
        display: block;

        @include breakpoint(tablet-plus) {
          display: none;
        }
      }

      &--desktop {
        display: none;

        @include breakpoint(tablet-plus) {
          display: block;
          @include rem-fallback("margin-left", -84px);
        }

        @include breakpoint(wide) {
          margin-left: 0;
        }
      }

      @include breakpoint(tablet-plus) {
        width: auto;
        max-width: unset;
      }
    }
  }

  &__hero-heading {
    width: 100%;
    @include rem-fallback("padding", 25px 0);
    background-color: $hero-background-opaque;
    text-align: center;

    @include breakpoint(tablet-plus) {
      position: relative;
      @include rem-fallback("padding", 20px 0);
      @include rem-fallback("height", 146px);
      @include rem-fallback("margin-top", -146px);
      background-color: $hero-background;
    }

    h2 {
      @include heading($h-heading: h3__heading-h3--museo);
      color: color(awhite);

      @include breakpoint(normal) {
        @include heading($h-heading: h2-museo);
        color: color(awhite);
      }

      @include breakpoint(tablet-plus) {
        @include heading($h-heading: h1-museo);
        color: color(awhite);
      }
    }
  }

  &__intro {
    @include rem-fallback("padding-bottom", 30px);
    @include border(2px solid color(agray, lighter), bottom);

    @include breakpoint(tablet-plus) {
      padding-bottom: 0;
    }

    &-text {
      @include column(12/12, $gutter);
      @include rem-fallback("margin-top", 15px);

      @include breakpoint(tablet-plus) {
        @include column(6/12, $gutter);
        @include rem-fallback("margin-bottom", 60px);
        display: flex;
        align-items: center;

        &--right {
          order: 2;
        }
      }
    }

    &-image {
      display: none;

      @include breakpoint(tablet-plus) {
        @include column(6/12, $gutter);
        @include rem-fallback("margin-bottom", 60px);
        display: block;
        text-align: center;

        &--left {
          order: 1;
        }

        img {
          @include rem-fallback("width", 320px);
          @include rem-fallback("height", 320px);
        }
      }
    }
  }

  &__our-team,
  &__board-members,
  &__founders,
  &__sponsors {
    @include column(12/12, $gutter);
    @include rem-fallback("padding-bottom", 30px);
    @include border(2px solid color(agray, lighter), bottom);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding-bottom", 60px);
      @include rem-fallback("margin-bottom", 60px);
    }

    &-heading {
      @include rem-fallback("margin-bottom", 15px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-bottom", 40px);
      }
    }
  }

  &__photo-section {
    &.nested {
      justify-content: flex-start;
    }
  }

  &__profile {
    @include column(6/12, $gutter);
    @include rem-fallback("height", 247px);
    justify-content: center;
    text-align: center;

    @include breakpoint(tablet-plus) {
      @include column(3/12, $gutter);
      @include rem-fallback("height", 330px);
    }

    img {
      @include rem-fallback("width", 128px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("width", 199px);
      }
    }
  }

  &__name {
    @include rem-fallback("margin", 10px 0);
  }

  &__sponsors-heading,
  &__founders-heading,
  &__board-members-heading,
  &__our-team-heading,
  &__intro-heading {
    @include heading($h-heading: h3__heading-h3--museo);
    font-weight: 700;

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h2__heading-h2--museo);
    }
  }

  &__sponsors {
    &-heading {
      &--small {
        @include rem-fallback("margin", 10px 0);
        @include heading($h-heading: h4__heading-h4--bold);

        @include breakpoint(tablet-plus) {
          margin-top: 0;
          @include rem-fallback("margin-bottom", 15px);
          @include heading($h-heading: h3__heading-h3--bold);
        }
      }
    }

    &-text {
      @include column(12/12, $gutter);
      @include rem-fallback("margin-bottom", 60px);

      @include breakpoint(tablet-plus) {
        @include column(9/12, $gutter);
      }

      &--bayer {
        margin-bottom: 0;
      }
    }

    .p__body-copy--small {
      @include heading($h-heading: h5__heading-h5--light);

      b {
        color: color(agray, dark);
      }
    }

    &-image {
      @include column(12/12, $gutter);

      @include breakpoint(tablet-plus) {
        @include column(3/12, $gutter);
      }

      &--purina {
        width: auto;
        @include rem-fallback("height", 35px);
      }

      &--petco-found {
        width: auto;
        @include rem-fallback("height", 52px);
      }

      &--petco-corp {
        width: auto;
        @include rem-fallback("height", 36px);
      }

      &--bayer {
        width: auto;
        @include rem-fallback("height", 55px);
      }
    }
  }

  &__ctas {
    &-donate,
    &-volunteer,
    &-get-involved {
      @include column(12/12, $gutter);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      box-shadow: $pet-card-shade, $pet-card-border;
      border-radius: 8px;
      background: color(awhite);
      @include rem-fallback("margin-bottom", 40px);

      &:active {
        background: $twenty-percent-lighter-grey;
        box-shadow: $pet-card-bg-shade, $pet-card-border;
      }

      @include breakpoint(tablet-plus) {
        justify-content: space-between;
        @include column(4/12, $gutter);
        @include rem-fallback("margin-top", 60px);
        @include rem-fallback("margin-bottom", 80px);

        &:hover {
          background: $twenty-percent-lighter-grey;
        }
      }

      a {
        display: block;
        width: 100%;
        @include rem-fallback("padding", 30px);
        text-align: center;
      }

      h3 {
        @include rem-fallback("margin", 15px 0);
        text-align: left;

        @include breakpoint(normal) {
          text-align: center;
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("margin", 20px 0);
          text-align: left;
        }
      }

      img {
        @include rem-fallback("width", 128px);
        @include rem-fallback("height", 128px);
        border: 2px solid;

        @include breakpoint(tablet-plus) {
          @include rem-fallback("width", 220px);
          @include rem-fallback("height", 220px);
          border: 5px solid;
        }
      }
    }

    &-donate {
      @include rem-fallback("margin-top", 30px);

      img {
        border-color: color(agreen);
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-top", 60px);
      }
    }

    &-volunteer {
      img {
        border-color: color(aorange);
      }
    }

    &-get-involved {
      @include rem-fallback("margin-bottom", 60px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-bottom", 80px);
      }

      img {
        border-color: color(ablue);
      }
    }
  }

  .accordion-link {
    & .link-blue {
      font-weight: 700;
    }
  }
}

.about-us-page {
  & [data-content="content"] {
    &.container {
      max-width: 100%;
      display: block;
    }
  }
}
