.container {
  margin: 0 auto;
  @include container($tiny);

  @include breakpoint(thin) {
    @include container($thin);
  }

  @include breakpoint(phone-plus) {
    @include container($phone-plus);
  }

  @include breakpoint(normal) {
    @include container($normal);
  }

  @include breakpoint(tablet-plus) {
    @include container($tablet-plus);
  }

  @include breakpoint(wide) {
    @include container($wide);
  }
}

.content {
  width: 100%;
}
.nested {
  margin: 0 auto;
  padding: 0;
  @include container(100%);

  @include breakpoint(tablet-plus) {
    padding: 0;
  }
}

.clear {
  @include clearfix;
}
