.comm-pref {
  width: 100%;

  @include breakpoint(tablet-plus) {
    @include column(8/12, $gutter);
    margin: 0 auto;
  }

  @include element("heading") {
    @include heading($h-heading: h2__heading-h2--museo);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h1__heading-h1--museo);
    }
  }

  @include element("title") {
    @include heading($h-heading: h4__heading-h4--museo);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h3__heading-h3--museo);
    }
  }

  @include element("label") {
    display: block;
    @include heading($h-heading: h5-heading);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h4__heading-h4--compact);
    }

    @include modifier("top") {
      text-transform: capitalize;
    }

    &.grey-text-light {
      color: color(agray, light);
    }
  }

  .p__body-copy {
    @include font-size(16);
    @include rem-fallback("line-height", 25px);

    @include breakpoint(tablet-plus) {
      @include font-size(20);
      @include rem-fallback("line-height", 32px);
    }
  }

  .list {
    border-bottom: 1px solid color(agray, light);
    border-top: 1px solid color(agray, light);
    @include rem-fallback("padding", 40px 0 80px 0);

    & ol {
      list-style: none;
      padding-left: 0;

      > li {
        @include rem-fallback("padding-bottom", 40px);

        &:last-child {
          padding-bottom: 0;
        }
      }

      .comm-pref__adopt {
        ul {
          padding: 0;
          margin: 0;

          .radio {
            display: inline-block;
          }

          .radio__one {
            @include rem-fallback("margin-right", 90px);
          }
        }
      }
    }
  }

  .white-bg {
    @include breakpoint(normal) {
      @include rem-fallback("padding-left", 30px);
    }
  }

  .checkbox__label {
    &::after {
      @include rem-fallback("top", 2px);
    }
  }

  @include element("button") {
    width: 100%;
    margin: 80px auto;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("width", 366px);
    }

    .errormsg {
      text-align: center;
      color: color(aorange);
      font-weight: 700;
    }
  }

  .radio__outside {
    @include rem-fallback("top", 4px);
  }

  .comm-pref-full__status {
    @include rem-fallback("padding", 40px 0 0);
  }

  @include element("touch") {
    .comm-pref__label--top {
      text-transform: none;
    }
  }
}

.comm-pref-full {
  @include element("status") {
    @include rem-fallback("padding", 40px 0 0);
    @include rem-fallback("line-height", 48px);
    font-size: 32px;
    color: color(ablue);
    width: 100%;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding", 80px 0 20px);
    }
  }

  @include element("container") {
    @include rem-fallback("width", 500px);
  }
}

.communication-survey-page {
  .header,
  .footer,
  .footer__copyright {
    display: none;
  }
}

.communication-success {
  .link-blue {
    font-weight: 400;
  }
}

.mgmt-link-form {
  width: 100%;
  @include rem-fallback("padding", 30px 0 80px);

  @include breakpoint(tablet-plus) {
    @include column(8/12, $gutter);
    margin: 0 auto;
    @include rem-fallback("padding", 40px 0 80px);
  }

  .static-page__title {
    @include rem-fallback("margin", 0 0 15px);
    padding: 0;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 0 0 30px);
      text-align: center;
    }
  }

  @include element("email") {
    @include rem-fallback("padding", 30px 0 0);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding", 40px 0 0);
    }

    @include modifier("column") {
      width: 100%;

      @include breakpoint(tablet-plus) {
        @include column(7/12, $gutter);
      }

      .form__input {
        margin-top: 0;
      }
    }
  }

  @include element("button") {
    @include modifier("column") {
      width: 100%;

      @include breakpoint(tablet-plus) {
        @include column(5/12, $gutter);
      }

      .button {
        @include rem-fallback("margin-top", 15px);

        @include breakpoint(tablet-plus) {
          margin-top: 0;
        }
      }
    }
  }

  @include element("wnpa") {
    @include rem-fallback("padding", 30px 0 0);
    @include rem-fallback("margin", 30px 0 0);
    border-top: 1px solid color(agray, light);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding", 40px 0 0);
      @include rem-fallback("margin", 40px 0 0);
    }

    h2 {
      @include rem-fallback("margin", 0 0 15px);
      @include heading($h-heading: h3__heading-h3--museo);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 20px);
        @include heading($h-heading: h2__heading-h2--museo);
      }
    }

    h3 {
      @include rem-fallback("margin", 0 0 10px);
      @include heading($h-heading: h4__heading-h4--museo);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 20px);
        @include heading($h-heading: h3__heading-h3--museo);
      }
    }

    .wnpa__list {
      border-top: 0;
      @include rem-fallback("margin", 30px 0 30px);
      @include rem-fallback("padding", 0 0 30px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 40px 0 40px);
        @include rem-fallback("padding", 0 0 40px);
      }
    }
  }
}

.donot-contact {
  width: 100%;

  ol {
    padding-left: 0;
  }

  .checkbox__label {
    display: inline-block;
  }

  &__touch {
    list-style-type: none;

    div {
      background-color: $twenty-percent-lighter-grey;
      @include rem-fallback("padding", 20px);

      @include breakpoint(normal) {
        @include rem-fallback("padding", 30px);
      }
    }
  }
}

.comm-pref-blur {
  h1,
  h4,
  form {
    opacity: 0.6;
  }
}
