.favorite-pets {
  .icon {
    display: inline-flex;
    padding: 0;
    width: 2.25rem;
    height: 2.25rem;
    position: relative;

    @include breakpoint(tiny) {
      top: 4px;
    }
  }

  h1 {
    .icon {
      svg {
        width: 2.25rem;
        height: 2.25rem;
      }
    }
  }

  p {
    .icon {
      height: 1rem;
      width: 1rem;
      fill: color(agray, dark);
      vertical-align: text-top;
    }
  }

  .sign-up-cta {
    @include breakpoint(tiny) {
      width: 100%;
      @include rem-fallback("margin", 30px 0 0);
    }

    @include breakpoint(tablet-plus) {
      width: 45%;
      @include rem-fallback("margin", 50px 0 0);
    }
  }

  @include element("ads") {
    @include modifier("left") {
      @include breakpoint(tiny) {
        text-align: center;
      }

      @include breakpoint(tablet-plus) {
        text-align: left;
      }
    }

    @include modifier("right") {
      text-align: center;
    }
  }

  @include element("newsletter") {
    @include breakpoint(tiny) {
      margin: 0;
    }

    @include breakpoint(tablet-plus) {
      @include margin-space($m-space: t-medium);
    }
  }

  @include element("title") {
    @include breakpoint(tiny) {
      @include heading($h-heading: h2__heading-h2--museo);
      @include rem-fallback("margin", 10px 0 15px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("margin", 15px 0 15px);
    }

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h1__heading-h1--museo);
      @include rem-fallback("margin", 40px 0 20px);
    }
  }

  @include element("container") {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(tiny) {
      @include rem-fallback("margin-top", 30px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-top", 50px);
    }

    .fav-pet-card {
      @include breakpoint(tiny) {
        @include rem-fallback("margin-bottom", 24px);

        &:nth-child(even) {
          margin-right: 0;
        }
      }

      @include breakpoint(normal) {
        @include rem-fallback("margin", 0 24px 24px 0);
      }
    }
  }
}

.title-bar {
  position: relative;

  @include breakpoint(tiny) {
    width: 100%;
  }

  @include breakpoint(wide) {
    width: 88%;
  }

  .user {
    position: absolute;
    right: 0;
    top: 0;

    @include breakpoint(tiny) {
      padding: 0;
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding-top", 10px);
    }
  }
}

.favorite-pets-content {
  @include element("desc") {
    @include breakpoint(tiny) {
      width: 100%;
    }

    @include breakpoint(wide) {
      width: 75%;
    }
  }
}

.favorite-pets-list {
  @include element("desc") {
    @include breakpoint(tiny) {
      width: 100%;
    }

    @include breakpoint(wide) {
      width: 88%;
    }
  }
}
