.home {
  @include breakpoint(tablet-plus) {
    @include rem-fallback("padding", 40px 0 0);
  }

  @include element("featured-pets") {
    @include rem-fallback("padding", 80px 0);
    @include border(2px solid color(agray, lighter), top);

    @include breakpoint(tablet-plus) {
      @include border(2px solid color(agray, lighter), bottom);
      border-top: 0;
    }

    & .petcard__content {
      @include breakpoint(normal) {
        width: calc(100% / 3);
      }

      &:nth-child(3n + 1) {
        &:nth-last-child(-n + 3) {
          padding-bottom: 0;
        }
      }

      &:nth-child(3n + 1) {
        &:nth-last-child(-n + 3) ~ .petcard__content {
          padding-bottom: 0;
        }
      }
    }
  }

  @include element("adoption") {
    .link-blue {
      font-weight: 400;
    }
  }

  @include element("title") {
    @include heading($h-heading: h3__heading-h3--museo-h3--x-compact);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h2__heading-h2--museo);
    }
  }

  @include element("sub-title") {
    @include heading($h-heading: h4__heading-h4--bold-h4--compact);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h3__heading-h3--bold-h3--compact);
    }
  }

  @include element("adoption-tip") {
    @include border(2px solid color(agray, lighter), top);
  }

  @include element("dfp") {
    @include border(2px solid color(agray, lighter), top);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint(normal) {
      flex-wrap: nowrap;
    }

    @include breakpoint(tablet-plus) {
      flex-wrap: wrap;
    }

    @include modifier("align") {
      @include rem-fallback("padding", 0 12px);
    }

    @include modifier("b-border") {
      @include border(2px solid color(agray, lighter), bottom);
    }
  }

  @include element("prime-title") {
    @include heading($h-heading: h3__heading-h3--museo-h3--x-compact);
    @include padding-space($p-space: t-small);

    @include breakpoint(normal) {
      @include heading($h-heading: h2__heading-h2--museo);
    }
    @include breakpoint(tablet-plus) {
      padding: 0;
    }
  }

  @include element("prime-sub-title") {
    @include heading($h-heading: h6__heading-h6--light-h6--compact);
    @include padding-space($p-space: x-small);

    @include breakpoint(normal) {
      @include heading($h-heading: h4__heading-h4--light-h4--x-compact);
    }
    @include breakpoint(tablet-plus) {
      @include padding-space($p-space: small);
    }
  }
}
