$gutter: em(24);

.pet-detail {
  & .breadcrumbs {
    @include breakpoint(tiny) {
      display: none;
    }

    @include breakpoint(tablet-plus) {
      display: block;
    }
  }

  .pet-header {
    @include rem-fallback("margin", 10px 0 0);
    flex-direction: row-reverse;
    flex-wrap: nowrap;

    @include breakpoint(normal) {
      flex-direction: row;
      flex-wrap: nowrap;
      @include rem-fallback("margin", 15px 0);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 0 0 20px);
    }

    @include element("pet-name") {
      word-break: break-word;
      @include breakpoint(tiny) {
        order: 2;
      }

      @include breakpoint(tablet-plus) {
        order: 1;
      }
    }

    @include element("pet-heading") {
      @include breakpoint(tiny) {
        @include heading($h-heading: h2__heading-h2--museo);
      }

      @include breakpoint(tablet-plus) {
        @include heading($h-heading: h1__heading-h1--museo);
      }
    }

    @include element("user-section") {
      @include breakpoint(tiny) {
        order: 1;
        @include rem-fallback("margin", 0 0 0 auto);
      }

      @include breakpoint(normal) {
        order: 2;
      }

      @include breakpoint(phone-plus) {
        width: 20%;
      }

      @include breakpoint(normal) {
        width: 15%;
      }

      @include breakpoint(tablet-plus) {
        @include column(4/10, $gutter);
        order: 2;
        margin: 0;
      }
    }

    @include element("addtofav") {
      display: flex;
      @include rem-fallback("width", 32px);
      cursor: pointer;

      @include breakpoint(tiny) {
        justify-content: flex-end;
      }

      @include breakpoint(tablet-plus) {
        justify-content: start;
        width: auto;
        align-self: flex-start;
      }

      @include breakpoint(wide) {
        &:hover {
          .pet-header__ribbon-icon {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EPage%201%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Final-Version%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-Copy-10%22%20transform%3D%22translate(-727.000000%2C%20-289.000000)%22%20fill%3D%22%2300A8DE%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%20transform%3D%22translate(727.000000%2C%20289.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.1001611%2C29.7331007%20C10.3127532%2C24.3125704%204.5253453%2C18.8920401%204.5253453%2C13.473245%20C4.5253453%2C10.4801545%207.12214549%2C8.05271476%2010.3127532%2C8.05271476%20C13.2162063%2C8.05271476%2014.65907%2C9.40784732%2016.1001611%2C12.1181125%20C17.5430249%2C9.40784732%2019.0036142%2C8.05271476%2021.8875691%2C8.05271476%20C25.0781768%2C8.05271476%2027.674977%2C10.4801545%2027.674977%2C13.473245%20C27.674977%2C18.8920401%2021.8875691%2C24.3125704%2016.1001611%2C29.7331007%20M28.3609576%2C0%20L3.54511971%2C0%20C1.59530387%2C0%200%2C1.56161243%200%2C3.47024984%20L0%2C42.5712899%20C0%2C43.7858774%201.41804788%2C44.4799274%202.48158379%2C43.6123649%20L15.7757827%2C35.1588363%20C15.9530387%2C34.9853238%2016.1302947%2C34.9853238%2016.3075506%2C35.1588363%20L29.6017495%2C43.6123649%20C30.4880295%2C44.4799274%2032.0833333%2C43.7858774%2032.0833333%2C42.5712899%20L32.0833333%2C3.47024984%20C31.9060773%2C1.56161243%2030.3107735%2C0%2028.3609576%2C0%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
          }

          .pet-header__label {
            color: color(ablue);
            text-decoration: underline;
          }

          .pet-header__ribbon-icon--click {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%202%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-10%22%20fill%3D%22%23BFEFFF%22%20x%3D%223%22%20y%3D%222%22%20width%3D%2228%22%20height%3D%2229%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20fill%3D%22%2300A8DE%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.1001611%2C29.7331007%20C10.3127532%2C24.3125704%204.5253453%2C18.8920401%204.5253453%2C13.473245%20C4.5253453%2C10.4801545%207.12214549%2C8.05271476%2010.3127532%2C8.05271476%20C13.2162063%2C8.05271476%2014.65907%2C9.40784732%2016.1001611%2C12.1181125%20C17.5430249%2C9.40784732%2019.0036142%2C8.05271476%2021.8875691%2C8.05271476%20C25.0781768%2C8.05271476%2027.674977%2C10.4801545%2027.674977%2C13.473245%20C27.674977%2C18.8920401%2021.8875691%2C24.3125704%2016.1001611%2C29.7331007%20M3.54511971%2C0%20C1.59530387%2C0%200%2C1.56161243%200%2C3.47024984%20L0%2C42.5712899%20C0%2C43.7858774%201.41804788%2C44.4799274%202.48158379%2C43.6123649%20L15.7757827%2C35.1588363%20C15.9530387%2C34.9853238%2016.1302947%2C34.9853238%2016.3075506%2C35.1588363%20L29.6017495%2C43.6123649%20C30.4880295%2C44.4799274%2032.0833333%2C43.7858774%2032.0833333%2C42.5712899%20L32.0833333%2C3.47024984%20C31.9060773%2C1.56161243%2030.3107735%2C0%2028.3609576%2C0%20L3.54511971%2C0%20Z%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
          }

          .pet-header__ribbon-icon--active {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EFill%201%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Final-Version%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-Copy-2%22%20transform%3D%22translate(-727.000000%2C%20-289.000000)%22%20fill%3D%22%23B3B3B3%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M743.100161%2C318.733101%20C737.312753%2C313.31257%20731.525345%2C307.89204%20731.525345%2C302.473245%20C731.525345%2C299.480155%20734.122145%2C297.052715%20737.312753%2C297.052715%20C740.216206%2C297.052715%20741.65907%2C298.407847%20743.100161%2C301.118112%20C744.543025%2C298.407847%20746.003614%2C297.052715%20748.887569%2C297.052715%20C752.078177%2C297.052715%20754.674977%2C299.480155%20754.674977%2C302.473245%20C754.674977%2C307.89204%20748.887569%2C313.31257%20743.100161%2C318.733101%20M755.360958%2C289%20L730.54512%2C289%20C728.595304%2C289%20727%2C290.561612%20727%2C292.47025%20L727%2C331.57129%20C727%2C332.785877%20728.418048%2C333.479927%20729.481584%2C332.612365%20L742.775783%2C324.158836%20C742.953039%2C323.985324%20743.130295%2C323.985324%20743.307551%2C324.158836%20L756.60175%2C332.612365%20C757.488029%2C333.479927%20759.083333%2C332.785877%20759.083333%2C331.57129%20L759.083333%2C292.47025%20C758.906077%2C290.561612%20757.310773%2C289%20755.360958%2C289%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
          }
        }
      }

      &:active {
        .pet-header__ribbon-icon {
          background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%202%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-10%22%20fill%3D%22%23BFEFFF%22%20x%3D%223%22%20y%3D%222%22%20width%3D%2228%22%20height%3D%2229%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20fill%3D%22%2300A8DE%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.1001611%2C29.7331007%20C10.3127532%2C24.3125704%204.5253453%2C18.8920401%204.5253453%2C13.473245%20C4.5253453%2C10.4801545%207.12214549%2C8.05271476%2010.3127532%2C8.05271476%20C13.2162063%2C8.05271476%2014.65907%2C9.40784732%2016.1001611%2C12.1181125%20C17.5430249%2C9.40784732%2019.0036142%2C8.05271476%2021.8875691%2C8.05271476%20C25.0781768%2C8.05271476%2027.674977%2C10.4801545%2027.674977%2C13.473245%20C27.674977%2C18.8920401%2021.8875691%2C24.3125704%2016.1001611%2C29.7331007%20M3.54511971%2C0%20C1.59530387%2C0%200%2C1.56161243%200%2C3.47024984%20L0%2C42.5712899%20C0%2C43.7858774%201.41804788%2C44.4799274%202.48158379%2C43.6123649%20L15.7757827%2C35.1588363%20C15.9530387%2C34.9853238%2016.1302947%2C34.9853238%2016.3075506%2C35.1588363%20L29.6017495%2C43.6123649%20C30.4880295%2C44.4799274%2032.0833333%2C43.7858774%2032.0833333%2C42.5712899%20L32.0833333%2C3.47024984%20C31.9060773%2C1.56161243%2030.3107735%2C0%2028.3609576%2C0%20L3.54511971%2C0%20Z%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        }
        .pet-header__label {
          .link-blue {
            text-decoration: underline;
            color: color(ablue, dark);
          }
        }

        .pet-header__ribbon-icon--active {
          background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EFill%201%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Final-Version%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-Copy-2%22%20transform%3D%22translate(-727.000000%2C%20-289.000000)%22%20fill%3D%22%23B3B3B3%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M743.100161%2C318.733101%20C737.312753%2C313.31257%20731.525345%2C307.89204%20731.525345%2C302.473245%20C731.525345%2C299.480155%20734.122145%2C297.052715%20737.312753%2C297.052715%20C740.216206%2C297.052715%20741.65907%2C298.407847%20743.100161%2C301.118112%20C744.543025%2C298.407847%20746.003614%2C297.052715%20748.887569%2C297.052715%20C752.078177%2C297.052715%20754.674977%2C299.480155%20754.674977%2C302.473245%20C754.674977%2C307.89204%20748.887569%2C313.31257%20743.100161%2C318.733101%20M755.360958%2C289%20L730.54512%2C289%20C728.595304%2C289%20727%2C290.561612%20727%2C292.47025%20L727%2C331.57129%20C727%2C332.785877%20728.418048%2C333.479927%20729.481584%2C332.612365%20L742.775783%2C324.158836%20C742.953039%2C323.985324%20743.130295%2C323.985324%20743.307551%2C324.158836%20L756.60175%2C332.612365%20C757.488029%2C333.479927%20759.083333%2C332.785877%20759.083333%2C331.57129%20L759.083333%2C292.47025%20C758.906077%2C290.561612%20757.310773%2C289%20755.360958%2C289%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        }
      }
    }

    @include element("ribbon-icon") {
      background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EFill%201%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Final-Version%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-Copy-2%22%20transform%3D%22translate(-727.000000%2C%20-289.000000)%22%20fill%3D%22%23B3B3B3%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M743.100161%2C318.733101%20C737.312753%2C313.31257%20731.525345%2C307.89204%20731.525345%2C302.473245%20C731.525345%2C299.480155%20734.122145%2C297.052715%20737.312753%2C297.052715%20C740.216206%2C297.052715%20741.65907%2C298.407847%20743.100161%2C301.118112%20C744.543025%2C298.407847%20746.003614%2C297.052715%20748.887569%2C297.052715%20C752.078177%2C297.052715%20754.674977%2C299.480155%20754.674977%2C302.473245%20C754.674977%2C307.89204%20748.887569%2C313.31257%20743.100161%2C318.733101%20M755.360958%2C289%20L730.54512%2C289%20C728.595304%2C289%20727%2C290.561612%20727%2C292.47025%20L727%2C331.57129%20C727%2C332.785877%20728.418048%2C333.479927%20729.481584%2C332.612365%20L742.775783%2C324.158836%20C742.953039%2C323.985324%20743.130295%2C323.985324%20743.307551%2C324.158836%20L756.60175%2C332.612365%20C757.488029%2C333.479927%20759.083333%2C332.785877%20759.083333%2C331.57129%20L759.083333%2C292.47025%20C758.906077%2C290.561612%20757.310773%2C289%20755.360958%2C289%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      padding: 0;
      @include rem-fallback("width", 32px);
      @include rem-fallback("height", 44px);
      pointer-events: none;

      &:active {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%202%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-10%22%20fill%3D%22%23BFEFFF%22%20x%3D%223%22%20y%3D%222%22%20width%3D%2228%22%20height%3D%2229%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20fill%3D%22%2300A8DE%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.1001611%2C29.7331007%20C10.3127532%2C24.3125704%204.5253453%2C18.8920401%204.5253453%2C13.473245%20C4.5253453%2C10.4801545%207.12214549%2C8.05271476%2010.3127532%2C8.05271476%20C13.2162063%2C8.05271476%2014.65907%2C9.40784732%2016.1001611%2C12.1181125%20C17.5430249%2C9.40784732%2019.0036142%2C8.05271476%2021.8875691%2C8.05271476%20C25.0781768%2C8.05271476%2027.674977%2C10.4801545%2027.674977%2C13.473245%20C27.674977%2C18.8920401%2021.8875691%2C24.3125704%2016.1001611%2C29.7331007%20M3.54511971%2C0%20C1.59530387%2C0%200%2C1.56161243%200%2C3.47024984%20L0%2C42.5712899%20C0%2C43.7858774%201.41804788%2C44.4799274%202.48158379%2C43.6123649%20L15.7757827%2C35.1588363%20C15.9530387%2C34.9853238%2016.1302947%2C34.9853238%2016.3075506%2C35.1588363%20L29.6017495%2C43.6123649%20C30.4880295%2C44.4799274%2032.0833333%2C43.7858774%2032.0833333%2C42.5712899%20L32.0833333%2C3.47024984%20C31.9060773%2C1.56161243%2030.3107735%2C0%2028.3609576%2C0%20L3.54511971%2C0%20Z%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        @include rem-fallback("width", 32px);
        @include rem-fallback("height", 44px);
      }

      @include modifier("active") {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%202%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-10%22%20fill%3D%22%23BFEFFF%22%20x%3D%223%22%20y%3D%222%22%20width%3D%2228%22%20height%3D%2229%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20fill%3D%22%2300A8DE%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.1001611%2C29.7331007%20C10.3127532%2C24.3125704%204.5253453%2C18.8920401%204.5253453%2C13.473245%20C4.5253453%2C10.4801545%207.12214549%2C8.05271476%2010.3127532%2C8.05271476%20C13.2162063%2C8.05271476%2014.65907%2C9.40784732%2016.1001611%2C12.1181125%20C17.5430249%2C9.40784732%2019.0036142%2C8.05271476%2021.8875691%2C8.05271476%20C25.0781768%2C8.05271476%2027.674977%2C10.4801545%2027.674977%2C13.473245%20C27.674977%2C18.8920401%2021.8875691%2C24.3125704%2016.1001611%2C29.7331007%20M3.54511971%2C0%20C1.59530387%2C0%200%2C1.56161243%200%2C3.47024984%20L0%2C42.5712899%20C0%2C43.7858774%201.41804788%2C44.4799274%202.48158379%2C43.6123649%20L15.7757827%2C35.1588363%20C15.9530387%2C34.9853238%2016.1302947%2C34.9853238%2016.3075506%2C35.1588363%20L29.6017495%2C43.6123649%20C30.4880295%2C44.4799274%2032.0833333%2C43.7858774%2032.0833333%2C42.5712899%20L32.0833333%2C3.47024984%20C31.9060773%2C1.56161243%2030.3107735%2C0%2028.3609576%2C0%20L3.54511971%2C0%20Z%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
      }

      @include modifier("click") {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2233px%22%20height%3D%2244px%22%20viewBox%3D%220%200%2033%2044%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%202%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-10%22%20fill%3D%22%23BFEFFF%22%20x%3D%223%22%20y%3D%222%22%20width%3D%2228%22%20height%3D%2229%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20fill%3D%22%2300A8DE%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.1001611%2C29.7331007%20C10.3127532%2C24.3125704%204.5253453%2C18.8920401%204.5253453%2C13.473245%20C4.5253453%2C10.4801545%207.12214549%2C8.05271476%2010.3127532%2C8.05271476%20C13.2162063%2C8.05271476%2014.65907%2C9.40784732%2016.1001611%2C12.1181125%20C17.5430249%2C9.40784732%2019.0036142%2C8.05271476%2021.8875691%2C8.05271476%20C25.0781768%2C8.05271476%2027.674977%2C10.4801545%2027.674977%2C13.473245%20C27.674977%2C18.8920401%2021.8875691%2C24.3125704%2016.1001611%2C29.7331007%20M3.54511971%2C0%20C1.59530387%2C0%200%2C1.56161243%200%2C3.47024984%20L0%2C42.5712899%20C0%2C43.7858774%201.41804788%2C44.4799274%202.48158379%2C43.6123649%20L15.7757827%2C35.1588363%20C15.9530387%2C34.9853238%2016.1302947%2C34.9853238%2016.3075506%2C35.1588363%20L29.6017495%2C43.6123649%20C30.4880295%2C44.4799274%2032.0833333%2C43.7858774%2032.0833333%2C42.5712899%20L32.0833333%2C3.47024984%20C31.9060773%2C1.56161243%2030.3107735%2C0%2028.3609576%2C0%20L3.54511971%2C0%20Z%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
      }
    }

    @include element("label") {
      width: min-content;

      @include breakpoint(tiny) {
        display: none;
      }

      @include breakpoint(tablet-plus) {
        display: inline-block;
        @include rem-fallback("margin", 0 0 0 10px);
        align-self: flex-start;
        pointer-events: none;
      }
    }

    @include element("label-container") {
      @include rem-fallback("width", 100px);
    }

    & .usercard {
      @include breakpoint(tiny) {
        justify-content: flex-end;
      }

      @include breakpoint(tablet-plus) {
        justify-content: flex-start;
      }

      @include element("icon") {
        flex-shrink: 0;
        @include breakpoint(tiny) {
          justify-content: center;
          margin: 0;
        }

        @include breakpoint(tablet-plus) {
          justify-content: start;
        }
      }
    }
    & .active {
      background: url('data:image/svg+xml;utf8,<svg width="33px" height="44px" viewBox="0 0 33 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Page 1</title><desc>Created with Sketch.</desc><defs></defs><g id="Final-Version" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="PDP-Desktop-Copy-5" transform="translate(-727.000000, -288.000000)" fill="%2300A8DE"><g id="Page-1" transform="translate(727.000000, 288.000000)"><path d="M16.1001611,29.7331007 C10.3127532,24.3125704 4.5253453,18.8920401 4.5253453,13.473245 C4.5253453,10.4801545 7.12214549,8.05271476 10.3127532,8.05271476 C13.2162063,8.05271476 14.65907,9.40784732 16.1001611,12.1181125 C17.5430249,9.40784732 19.0036142,8.05271476 21.8875691,8.05271476 C25.0781768,8.05271476 27.674977,10.4801545 27.674977,13.473245 C27.674977,18.8920401 21.8875691,24.3125704 16.1001611,29.7331007 M28.3609576,0 L3.54511971,0 C1.59530387,0 0,1.56161243 0,3.47024984 L0,42.5712899 C0,43.7858774 1.41804788,44.4799274 2.48158379,43.6123649 L15.7757827,35.1588363 C15.9530387,34.9853238 16.1302947,34.9853238 16.3075506,35.1588363 L29.6017495,43.6123649 C30.4880295,44.4799274 32.0833333,43.7858774 32.0833333,42.5712899 L32.0833333,3.47024984 C31.9060773,1.56161243 30.3107735,0 28.3609576,0" id="Fill-1"></path></g></g></g></svg>');
      background-repeat: no-repeat;
      @include rem-fallback("width", 32px);
      @include rem-fallback("height", 44px);
    }

    @include modifier("user") {
      flex-direction: column;
      flex-wrap: wrap;

      @include breakpoint(normal) {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    @include element("user") {
      justify-content: flex-end;

      @include breakpoint(tablet-plus) {
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      @include modifier("only") {
        justify-content: flex-end;
      }
    }

    @include element("user-profile") {
      @include rem-fallback("margin-left", 15px);

      @include breakpoint(tablet-plus) {
        margin-left: 0;
      }
    }

    &__column {
      border-bottom: 1px solid color(agray, lighter);
    }
  }

  .toggle-filter {
    @include breakpoint(phone-plus) {
      display: block;
    }
    @include breakpoint(normal) {
      display: none;
    }
  }

  .ask-about-me {
    .pet-inquiry-form__button--green {
      button {
        position: relative;
        bottom: auto;
        box-shadow: none;
      }
    }
  }

  .pet-inquiry {
    @include rem-fallback("margin-bottom", 30px);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-bottom", 20px);
    }

    .ask-about-me {
      @include breakpoint(normal) {
        border-top: 1px solid color(agray, lighter);
        @include rem-fallback("padding-top", 20px);
      }
    }

    @include modifier("text-blue") {
      color: color(ablue);
    }

    @include element("private-owner") {
      display: flex;
      @include rem-fallback("margin-bottom", 20px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-bottom", 10px);
      }
    }

    @include element("adopter-fee") {
      display: flex;
      justify-content: center;
      background-color: $eighty-per-lighter-grey;
      text-align: center;

      &.m-space--small {
        @include breakpoint(normal) {
          @include rem-fallback("margin", 0 0 15px);
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("margin", 0 0 20px);
        }
      }
    }

    @include element("ask-question") {
      display: block;
      @include rem-fallback("margin-top", 20px);
      @include rem-fallback("margin-bottom", 30px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-top", 10px);
      }
    }

    @include element("rehome-space") {
      @include breakpoint(tablet-plus) {
        @include rem-fallback("padding-bottom", 15px);
      }
    }
  }

  .adoption-process {
    @include rem-fallback("margin-top", 30px);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-top", 20px);
    }

    .readmore-handler {
      height: calc(25px * 4);
      overflow: hidden;
    }

    .list {
      ul {
        @include breakpoint(normal) {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          max-height: 153px;
          overflow: hidden;
        }

        @include breakpoint(tablet-plus) {
          flex-wrap: nowrap;
          max-height: inherit;
        }

        li {
          @include rem-fallback("padding-bottom", 5px);

          @include breakpoint(normal) {
            flex: 1 0 50%;
          }

          @include breakpoint(tablet-plus) {
            width: 100%;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      &.readmore-handler {
        @include breakpoint(normal) {
          ul {
            li {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .adoption-application {
    @include rem-fallback("margin-bottom", 30px);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-bottom", 20px);
    }
  }
  .social-share {
    padding: 0;

    & .social-media-share {
      @include rem-fallback("width", 225px);
      @include rem-fallback("margin-top", 15px);

      @include breakpoint(phone-plus) {
      }

      @include breakpoint(normal) {
        @include rem-fallback("margin-top", -2px);
      }

      @include breakpoint(tablet-plus) {
      }

      @include breakpoint(wide) {
      }
    }
  }

  .pet-facts {
    border-bottom: 1px solid color(agray, lighter);
    border-top: 1px solid color(agray, lighter);

    @include breakpoint(tiny) {
      @include rem-fallback("padding", 30px 0);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding", 20px 0);
      border-top: 0;
    }

    @include element("content") {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(tiny) {
        flex-direction: row;
        height: auto;
      }

      @include breakpoint(normal) {
        flex-direction: unset;
        flex-basis: 100%;
        justify-content: space-between;
      }

      @include breakpoint(tablet-plus) {
        flex-direction: row;
        height: auto;
        justify-content: unset;
      }

      @include modifier("section") {
        word-break: break-word;
        display: flex;
        @include rem-fallback("margin-top", 10px);

        @include breakpoint(tiny) {
          flex: 0 0 100%;
        }

        @include breakpoint(normal) {
          flex: 0 0 calc(50% - 12px);
          @include rem-fallback("margin-top", 15px);

          &:nth-of-type(1) {
            order: 1;
          }

          &:nth-of-type(2) {
            order: 3;
          }

          &:nth-of-type(3) {
            order: 5;
          }

          &:nth-of-type(4) {
            order: 2;
          }

          &:nth-of-type(5) {
            order: 4;
          }

          &:nth-of-type(6) {
            order: 6;
          }
        }

        @include breakpoint(tablet-plus) {
          flex: 0 0 100%;

          &:nth-of-type(1n + 1) {
            order: unset;
          }
        }
      }

      .column--half {
        width: 100%;

        @include breakpoint(normal) {
          width: calc(50% - 0.375em);
        }
      }
    }

    @include element("label") {
      flex: 0 0 25%;

      @include breakpoint(normal) {
        flex: 0 0 20%;
      }
    }
  }

  .myinfo {
    border-bottom: 1px solid color(agray, lighter);

    @include breakpoint(tiny) {
      @include rem-fallback("padding", 30px 0);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding", 20px 0 30px 0);
    }

    @include element("content") {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;

      @include breakpoint(tablet-plus) {
        justify-content: unset;
      }
    }

    @include element("label") {
      display: flex;
      align-items: center;
      @include rem-fallback("margin-top", 15px);

      @include breakpoint(tiny) {
        width: 100%;
      }

      @include breakpoint(normal) {
        width: calc(50% - 12px);
      }

      @include breakpoint(tablet-plus) {
        width: 33.3%;
        @include rem-fallback("padding-right", 5px);
      }
    }

    @include element("icon") {
      display: flex;
      @include rem-fallback("width", 16px);
      @include rem-fallback("height", 12px);

      @include modifier("tick") {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2216px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2016%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3ECheck%20Copy%2010%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Final-Version%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-Anchor-link%22%20transform%3D%22translate(-440.000000%2C%20-1187.000000)%22%20fill%3D%22%2370CF36%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Check-Copy-10%22%20points%3D%22441.8%201192.4%20440%201194.2%20444.8%201199%20455.6%201188.8%20453.8%201187%20444.8%201195.4%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: 96% center;

        &-adopted {
          background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2216px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2016%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3ECheck%20Copy%2011%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop-Adopted%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-Adopted%22%20transform%3D%22translate(-440.000000%2C%20-1183.000000)%22%20fill%3D%22%23C8EFB0%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Check-Copy-11%22%20points%3D%22441.846154%201188.4%20440%201190.2%20444.923077%201195%20456%201184.8%20454.153846%201183%20444.923077%201191.4%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
          background-repeat: no-repeat;
          background-position: 96% center;
        }
      }

      @include modifier("exclamation") {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%224px%22%20height%3D%2217px%22%20viewBox%3D%220%200%204%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3EGroup%2014%20Copy%203%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-No-inquiry-%22%20transform%3D%22translate(-446.000000%2C%20-1126.000000)%22%20fill%3D%22%23FF8F43%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-14-Copy-3%22%20transform%3D%22translate(446.000000%2C%201126.500000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-10%22%20x%3D%220.5%22%20y%3D%220.328351736%22%20width%3D%223%22%20height%3D%2210%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval-4%22%20cx%3D%222%22%20cy%3D%2214.2020556%22%20r%3D%222%22%3E%3C%2Fcircle%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: center;
        @include rem-fallback("height", 17px);

        &-adopted {
          background: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%224px%22%20height%3D%2217px%22%20viewBox%3D%220%200%204%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2047.1%20(45422)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3Eexclamation%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop-Adopted%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22PDP-Desktop-Adopted%22%20transform%3D%22translate(-446.000000%2C%20-1262.000000)%22%20fill%3D%22%23FFD7BB%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22exclamation%22%20transform%3D%22translate(446.000000%2C%201262.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle-10%22%20x%3D%220.5%22%20y%3D%220.828351736%22%20width%3D%223%22%20height%3D%2210%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval-4%22%20cx%3D%222%22%20cy%3D%2214.7020556%22%20r%3D%222%22%3E%3C%2Fcircle%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
          background-repeat: no-repeat;
          background-position: center;
          @include rem-fallback("height", 17px);
        }
      }
    }
  }

  .mystory {
    border-bottom: 1px solid color(agray, lighter);
    @include rem-fallback("padding", 30px 0);
    word-wrap: break-word;

    @include element("content") {
      @include rem-fallback("margin-top", 15px);
      color: color(agray);
    }

    @include modifier("rehome-adopt") {
      padding-bottom: 0;
      border-bottom: 0;
    }

    p {
      margin-bottom: 10px;
    }

    a {
      color: color(ablue);
      font-family: $helvetica;
      @include font-size(20);
      font-weight: 400;
      @include rem-fallback("line-height", 32px);
      @include rem-fallback("letter-spacing", -0.25px);

      &:hover {
        @include breakpoint(tablet-plus) {
          text-decoration: underline;
        }
      }

      &:active {
        color: color(ablue, dark);
        text-decoration: none;
      }

      &.accordion-link {
        @include font-size(16);
        font-weight: 700;
        @include rem-fallback("line-height", 25px);
        letter-spacing: 0;
      }
    }

    h3 {
      @include rem-fallback("margin-right", 30px);

      @include breakpoint(normal) {
        float: left;
      }
    }
  }

  @include element("desc") {
    a {
      color: color(ablue);
      font-family: $helvetica;
      @include font-size(20);
      font-weight: 400;
      @include rem-fallback("line-height", 32px);
      @include rem-fallback("letter-spacing", -0.25px);

      &:hover {
        @include breakpoint(tablet-plus) {
          text-decoration: underline;
        }
      }

      &:active {
        color: color(ablue, dark);
        text-decoration: none;
      }

      &.accordion-link {
        @include font-size(16);
        font-weight: 700;
        @include rem-fallback("line-height", 25px);
        letter-spacing: 0;
      }
    }
  }

  @include element("aside") {
    display: none;

    @include breakpoint(tablet-plus) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  @include element("advt") {
    display: flex;
    justify-content: center;

    @include modifier("mob-b-bottom") {
      display: flex;
      @include rem-fallback("border-bottom", 1px solid color(agray, lighter));
      @include rem-fallback("padding", 30px 0);

      @include breakpoint(tablet-plus) {
        display: none;
      }
    }

    @include modifier("mob-b-top") {
      display: flex;
      @include rem-fallback("border-top", 1px solid color(agray, lighter));
      @include rem-fallback("padding", 30px 0);

      @include breakpoint(tablet-plus) {
        display: none;
      }
    }
  }

  & .select-group {
    &__pager {
      top: 0;
    }
  }

  @include element("content-head") {
    @include heading($h-heading: h3__heading-h3--museo);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h2__heading-h2--museo);
    }
  }

  .newhome {
    border-bottom: 1px solid color(agray, lighter);
    @include rem-fallback("padding", 30px 0);
  }

  .ask-owner {
    border-top: 1px solid color(agray, lighter);
    @include rem-fallback("padding-top", 30px);
    @include rem-fallback("margin-top", 40px);

    @include breakpoint(normal) {
      @include rem-fallback("padding-top", 50px);
      @include rem-fallback("margin-top", 50px);
    }

    &__field {
      margin-top: 0;

      @include breakpoint(normal) {
        @include rem-fallback("margin-top", 5px);
        @include column(1/2, (1 - 1/2) * $gutter);
      }

      .form__input {
        margin: 15px 0 0;
        @include breakpoint(normal) {
          margin: 25px 0 0;
        }
      }

      .suggestion-text {
        top: 45%;

        @include breakpoint(normal) {
          top: 50%;
        }
      }
    }

    &__button-section {
      margin: 0 auto;
      width: 100%;

      @include breakpoint(normal) {
        width: 40%;
      }
    }

    &__button {
      @include rem-fallback("margin", 30px 0);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 40px 0);
      }
    }

    &__card-top-orange-bg {
      @include rem-fallback("padding", 15px);
      @include rem-fallback("margin", 30px 0 0);
      @include rem-fallback("border-radius", 6px 6px 0 0);
      background: color(aorange);

      .h5__heading {
        color: color(awhite, base);
      }
    }

    &__textarea {
      textarea {
        margin: 0;
        @include rem-fallback("border-radius", 0 0 6px 6px);
      }

      .text-area__label {
        @include rem-fallback("top", 20px);
      }
    }
  }

  .rehome {
    @include rem-fallback("padding", 20px 15px 15px);

    @include breakpoint(thin) {
      @include rem-fallback("padding", 20px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("padding", 40px 40px 0);
    }

    @include element("title") {
      @include heading($h-heading: h3__heading-h3--museo);

      @include breakpoint(normal) {
        @include heading($h-heading: h3__heading-h3--museo-h3--x-compact);
        @include rem-fallback("margin-bottom", 10px);
      }
    }

    @include element("sub-title") {
      @include heading($h-heading: h5__heading);

      @include breakpoint(normal) {
        @include heading($h-heading: h5__heading-h5--compact);
      }
    }

    @include element("button-section") {
      @include rem-fallback("height", 58px);
      @include rem-fallback("margin", 15px 0 10px);

      @include breakpoint(normal) {
        margin: 0;
      }
    }

    @include element("section") {
      flex-wrap: wrap;
      justify-content: space-between;

      @include breakpoint(normal) {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    @include element("column") {
      flex-basis: 100%;

      @include breakpoint(normal) {
        flex-basis: calc(50% - 24px);
      }
    }

    @include element("content") {
      @include modifier("desktop") {
        display: none;

        @include breakpoint(normal) {
          display: block;
          @include rem-fallback("margin-bottom", 20px);
          @include heading($h-heading: h5__heading-h5--compact);
        }
      }

      @include modifier("mobile") {
        display: block;
        @include rem-fallback("margin-bottom", 15px);
        @include heading($h-heading: h5__heading);

        @include breakpoint(normal) {
          display: none;
        }
      }
    }

    .button {
      &__ask-about-me {
        @include font-size(18);

        @include breakpoint(thin) {
          @include font-size(20);
        }
      }
    }
  }

  @include element("petcard-container") {
    overflow: hidden;
  }

  @include element("desc") {
    word-wrap: break-word;
  }

  .adoption-process-shelter {
    .list {
      ul {
        li {
          @include rem-fallback("padding-bottom", 30px);
        }
      }
    }

    .m-space-t--x-medium {
      @include rem-fallback("margin", 60px 0 0);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 50px 0 0);
      }
    }
  }

  // Adopted page pet cards section starts

  .pet-card-l {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(normal) {
      margin: 0.2% -3.21% 0 0.3%;
    }

    @include breakpoint(tablet-plus) {
      margin: 0.2% -5.41% 0 0.3%;
    }

    @include breakpoint(wide) {
      margin: 0.2% -2.7% 0 0.3%;
    }

    .pet-card,
    .pet-card-act {
      @include rem-fallback("margin", 0 0 10px);

      @include breakpoint(normal) {
        @include rem-fallback("width", 232px);
        @include rem-fallback("height", 336px);
        margin: 0 3.21% 3.21% 0;
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("width", 165px);
        @include rem-fallback("height", 289px);
        margin: 0 5.41% 5.41% 0;
      }

      @include breakpoint(wide) {
        @include rem-fallback("width", 220px);
        @include rem-fallback("height", 323px);
        margin: 0 2.61% 2.61% 0;
      }

      @include element("container") {
        @include breakpoint(normal) {
          @include rem-fallback("margin", 0 0 10px);
          @include rem-fallback("width", 212px);
          @include rem-fallback("height", 212px);
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("margin", 0 0 10px);
          @include rem-fallback("width", 145px);
          @include rem-fallback("height", 145px);
        }

        @include breakpoint(wide) {
          @include rem-fallback("margin", 0 0 10px);
          @include rem-fallback("width", 200px);
          @include rem-fallback("height", 200px);
        }
      }

      @include element("show-more") {
        display: block;
        width: 100%;
        @include rem-fallback("margin", 5px 0 0);
      }
    }
  }

  & .petcard-wrapper {
    @include breakpoint(normal) {
      overflow: hidden;
    }
  }

  & .pagination {
    @include rem-fallback("padding", 58px 0 40px);
  }

  & .shelter-pets__center {
    text-align: center;
  }

  .pet-card__show-more {
    display: block;
    width: 100%;
    @include rem-fallback("margin", 5px 0 0);
  }

  .petcard {
    .pet-card,
    .pet-card-act {
      @include element("container") {
        @include breakpoint(wide) {
          min-height: 202px;
        }
      }
    }
  }

  .bonded-pet {
    @include rem-fallback("margin", 0 0 20px);

    @include breakpoint(normal) {
      margin: 0;
    }
  }

  // Adopted page pet cards section ends
}

.pet-error {
  @include element("carousel") {
    @include rem-fallback("padding", 40px 0 60px);
    border-top: 1px solid color(agray, lighter);

    @include breakpoint(normal) {
      @include rem-fallback("padding", 10px 0 60px);
    }
  }
}

.foster-popup {
  display: inline-block;
}
