.privacy-policy {
  .blockquote {
    @include rem-fallback("margin", 0 0 30px);

    @include breakpoint(tablet-plus) {
      @include column(8/12, $gutter);
      @include rem-fallback("margin", 0 0 60px);
    }

    @include element("updated") {
      @include rem-fallback("margin", 15px 0);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 20px 0);
      }
    }
  }

  @include element("privacy") {
    color: color(agray, darker);
    cursor: pointer;

    &:active {
      color: color(ablue);
    }
  }

  p {
    span {
      color: color(agray, dark);
      font-weight: 400;
    }

    &.list {
      padding-bottom: 0;

      ul {
        @include rem-fallback("padding-top", 20px);
      }
    }
  }

  .static-section--left {
    padding-bottom: 0;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding-bottom", 80px);
    }

    .sticky {
      @include rem-fallback("padding-bottom", 40px);

      @include breakpoint(tablet-plus) {
        padding-bottom: 0;
      }
    }

    .content {
      @include rem-fallback("padding-bottom", 30px);

      @include breakpoint(tablet-plus) {
        padding-bottom: 0;
      }
    }
  }
}
