.pet-search-results {
  @include rem-fallback("padding", 20px 0 80px);
  width: 100%;

  @include breakpoint(tablet-plus) {
    @include rem-fallback("padding", 30px 0 80px);
  }

  .pet-npa {
    @include breakpoint(tiny) {
      display: none;
    }

    @include breakpoint(tablet-plus) {
      display: block;
      width: 100%;
    }
  }

  .npa-slide {
    display: block;
  }

  @include element("newsletter") {
    display: flex;
    width: 100%;
    height: auto;

    & > div {
      display: flex;
      width: 100%;
    }

    .form__card {
      width: 100%;
    }

    .form__input-small {
      @include rem-fallback("margin-bottom", 10px);
    }

    .form__error-msg--newsletter {
      @include rem-fallback("bottom", 35px);
    }
  }

  .e-modal__closer {
    display: block;
    @include rem-fallback("padding", 10px 20px 0 0);

    @include breakpoint(normal) {
      display: none;
    }
  }

  .sticky-back {
    @include rem-fallback("padding", 10px 0 0 20px);
  }

  .slide-back {
    @include rem-fallback("margin", 0 0 10px);
  }

  @include element("heading") {
    @include rem-fallback("margin", 10px 0 80px);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 80px 0);
    }
  }

  @include element("title") {
    @include heading($h-heading: h2__heading-h2--museo);
    @include rem-fallback("margin", 10px 0 30px);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h1__heading-h1--museo);
      margin: 0;
    }
  }

  @include element("ads") {
    width: 100%;
    @include rem-fallback("margin", 40px 0);
    text-align: center;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 60px 0 60px);
    }
  }

  @include element("pagination") {
    width: 100%;
    text-align: center;

    .pagination {
      @include rem-fallback("padding", 35px 0 40px);
      display: inline-block;
    }
  }

  @include element("button") {
    width: 100%;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 13px 0 0);
    }

    @include modifier("bottom") {
      display: block;

      @include breakpoint(tablet-plus) {
        display: none;
      }
    }
  }

  @include element("tier") {
    @include rem-fallback("margin", 40px 0);
    text-align: center;

    @include modifier("img") {
      width: 100%;

      @include breakpoint(normal) {
        width: auto;
      }
    }
  }

  .petcard__content {
    &:last-child {
      margin-bottom: 0;
    }

    @include breakpointminmax(normal, tablet-plus) {
      &:nth-child(3n + 1) {
        &:nth-last-child(-n + 3) {
          padding-bottom: 0;
        }
      }
      &:nth-child(3n + 1) {
        &:nth-last-child(-n + 3) ~ .petcard__content {
          padding-bottom: 0;
        }
      }
    }

    @include breakpoint(tablet-plus) {
      &:nth-child(4n + 1) {
        &:nth-last-child(-n + 4) {
          padding-bottom: 0;
        }
      }
      &:nth-child(4n + 1) {
        &:nth-last-child(-n + 4) ~ .petcard__content {
          padding-bottom: 0;
        }
      }
    }

    .pet-card,
    .pet-card-act {
      @include element("container") {
        @include breakpoint(wide) {
          min-height: 254px;
        }
      }
    }
  }

  .rail {
    display: flex;
  }

  .top-section {
    width: 100%;

    .pet-npa {
      .text-field-container {
        width: calc(50% - 12px);

        &.text-field-two {
          margin: 10px 0 0;
        }
      }

      &__yes-optin {
        .text-field-container {
          width: 100%;
        }
      }

      &__loggedin {
        .column-half {
          width: calc(50% - 12px);
        }

        .text-field-container {
          width: 100%;
          @include rem-fallback("margin-top", 17px);
        }

        .column-last {
          @include rem-fallback("margin-top", 20px);
        }
      }
    }
  }

  .bottom-section {
    .pet-npa__loggedin {
      .column-last {
        width: calc(50% - 12px);
      }
    }
  }

  .pet-npa {
    &__yes-optin,
    &__no-optin {
      .pet-npa__title {
        .h5__heading {
          display: none;
        }
      }

      .pet-npa__title {
        .h3__heading {
          display: flex;
        }
      }
    }
  }

  @include element("error") {
    p {
      @include rem-fallback("margin", 0 0 30px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 40px 0 0);
      }
    }
  }
}

.pagination-content {
  @include rem-fallback("margin", 45px 0 80px);
}

.pagination-result {
  @include rem-fallback("margin", 80px 0);
}

.email-invalid {
  color: color(aorange);
  font-size: 12px;
  line-height: 15px;
}
