$gutter: em(0);
.breed-landing {
  @include element("top-content") {
    display: flex;
    @include rem-fallback("padding", 40px 0 0);

    @include breakpoint(normal) {
      display: block;
      @include rem-fallback("padding", 30px 0 0);
    }

    @include breakpoint(tablet-plus) {
      display: flex;
    }

    @include modifier("column") {
      width: 100%;

      @include breakpoint(normal) {
        @include column(6/12, $gutter);
      }
    }

    @include modifier("right") {
      display: flex;
      justify-content: center;
    }

    .seo__search-form {
      @include rem-fallback("padding", 0 0 20px);

      @include breakpoint(normal) {
        padding-bottom: 0;
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("padding", 0 0 80px);
      }

      .search-form__field-wrapper {
        width: 100%;
      }

      h2,
      p,
      .search-form__img-section {
        display: none;
      }
    }

    .breed-image {
      width: 100%;
      height: 100%;

      @include breakpoint(tablet-plus) {
        align-self: flex-end;
        width: auto;
        height: auto;
      }
    }

    &.breed-name {
      .seo__search-form {
        @include rem-fallback("padding", 0 0 60px);
      }
    }

    @include modifier("mobile") {
      max-width: 100%;
    }
  }

  .data-chart__section {
    justify-content: left;
  }

  .data-chart__column {
    @include rem-fallback("padding", 30px 0 0);
    width: 10%;

    @include breakpoint(normal) {
      @include rem-fallback("padding", 60px 0 0);
    }

    @include breakpoint(wide) {
      @include rem-fallback("padding", 75px 0 0);
    }

    &:last-child {
      margin: 0;
    }
  }

  .data-chart__text {
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .data-chart__column--text {
    bottom: 0;
  }
}

.seo {
  @include element("fast-facts") {
    .content-section {
      @include rem-fallback("margin", 0 0 80px);
    }

    .seo__heading {
      @include rem-fallback("margin", 0 0 40px);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 0 0 30px);
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 40px);
      }
    }

    @include modifier("content") {
      background: $twenty-per-light-grey;

      @include breakpoint(normal) {
        background: none;
      }
    }

    @include modifier("left") {
      @include rem-fallback("padding", 30px 30px 30px 0);
      width: 100%;

      @include breakpoint(normal) {
        @include column(6/12, $gutter);
        @include rem-fallback("padding", 30px);
        background: $twenty-per-light-grey;
      }

      @include breakpoint(tablet-plus) {
        @include column(7/12, $gutter);
      }
    }

    @include modifier("right") {
      width: 100%;

      @include breakpoint(normal) {
        @include column(6/12, $gutter);
      }

      @include breakpoint(wide) {
        @include column(5/12, $gutter);
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include modifier("section") {
      display: flex;
      @include rem-fallback("margin", 0 0 15px);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 0 0 10px);
      }

      &:last-child {
        margin: 0;
      }
    }

    @include modifier("label") {
      flex: 0 0 40%;
      @include heading($h-heading: h5__heading-h5--bold);
      @include rem-fallback("margin", 0 32px 0 0);

      @include breakpoint(normal) {
        @include heading($h-heading: h4__heading-h4--bold);
      }

      @include breakpoint(tablet-plus) {
        flex: 0 0 45%;
        @include rem-fallback("margin", 0 20px 0 0);
      }

      @include breakpoint(wide) {
        flex: 0 0 35%;
        @include rem-fallback("margin", 0 32px 0 0);
      }
    }

    @include modifier("text") {
      font-family: $helvetica;
      color: color(agray, dark);
      @include font-size(16);
      @include rem-fallback("line-height", 25px);
      @include rem-fallback("letter-spacing", -0.25px);

      @include breakpoint(normal) {
        @include font-size(20);
        @include rem-fallback("line-height", 32px);
      }
    }

    @include modifier("mobile") {
      max-width: 100%;
    }

    .tablet-container {
      .container {
        @include column(6/12, $gutter);

        @include breakpoint(wide) {
          margin: 0;
          @include column(7/12, $gutter);
        }
      }

      .seo__fast-facts--left {
        width: 100%;
      }
    }

    .breed-slider {
      display: flex;
      width: 100%;

      .slick-slide {
        margin: 0 10px;
      }

      .pet-carousel__arrow {
        align-self: center;

        svg {
          width: 12px;
          fill: color(awhite);

          @include breakpoint(tablet-plus) {
            width: 21px;
          }
        }

        & :hover {
          fill: color(awhite);
        }

        &.is-disabled {
          cursor: pointer;
          pointer-events: visible;
        }

        &.slick-disabled {
          cursor: default;
          pointer-events: none;

          svg {
            fill: $twenty-percent-lighter-grey;
            cursor: default;
            pointer-events: none;
          }

          & :hover {
            fill: $twenty-percent-lighter-grey;
          }
        }
      }

      &.slick-dotted {
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        flex-wrap: nowrap;
      }

      .pet-carousel__arrow--left {
        margin-right: 10px;

        @include breakpoint(normal) {
          margin-right: 15px;
        }

        @include breakpoint(tablet-plus) {
          margin-right: 35px;
        }
      }

      .pet-carousel__arrow--right {
        margin-left: 20px;

        @include breakpoint(normal) {
          margin-left: 35px;
        }
      }
    }
  }

  @include element("fun-facts") {
    @include rem-fallback("padding", 30px);

    @include breakpoint(normal) {
      @include rem-fallback("margin", 60px 0 0);
    }

    .seo__breed-facts--left {
      @include breakpoint(normal) {
        flex: 0 0 25%;
      }
    }
  }

  @include element("breed-info") {
    @include rem-fallback("padding", 0 0 80px);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding", 80px 0);
      border-top: 1px solid color(agray, light);
    }

    h3 {
      @include heading($h-heading: h4__heading-h4--museo);

      @include breakpoint(tablet-plus) {
        @include heading($h-heading: h3__heading-h3--museo);
      }
    }

    .p__body-copy {
      p {
        @include rem-fallback("margin", 0 0 20px);

        &:last-child {
          margin: 0;
        }
      }
    }

    @include modifier("size-image") {
      @include rem-fallback("margin", 20px 0 0);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 30px 0 0);
      }
    }

    &.seo__breed-appearance {
      @include rem-fallback("padding", 80px 0);
      border-top: 1px solid color(agray, light);
    }

    &.seo__breed-health {
      @include rem-fallback("padding", 80px 0);
      @include rem-fallback("margin-bottom", 80px);
      border-top: 1px solid color(agray, light);
      border-bottom: 1px solid color(agray, light);
    }

    &.seo__breed-personality {
      border-top: 0;
      padding-top: 0;

      @include breakpoint(tablet-plus) {
        @include rem-fallback("padding", 80px 0);
        border-top: 1px solid color(agray, light);
      }
    }

    @include modifier("list") {
      ul {
        &:last-child {
          li {
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }

    &.seo__breed-cost {
      padding: 0;
      border-top: 0;
    }
  }

  @include element("related-breeds") {
    @include rem-fallback("padding", 80px 0);
    border-top: 1px solid color(agray, light);

    h1 {
      @include rem-fallback("margin", 0 0 40px);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 0 0 30px);
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 40px);
      }
    }

    h3 {
      @include heading($h-heading: h4__heading-h4--museo);
      @include rem-fallback("margin", 20px 0 30px);
      text-align: center;

      @include breakpoint(tablet-plus) {
        @include heading($h-heading: h3__heading-h3--museo);
        @include rem-fallback("margin", 30px 0);
      }
    }

    @include modifier("content") {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &.seo__related-breeds--content-length {
        justify-content: space-evenly;
      }
    }

    @include modifier("pet") {
      width: 100%;

      @include breakpoint(normal) {
        @include column(4/12, 48px);
      }

      .image {
        border-radius: 50%;
        border: 2px solid color(ablue);
        object-position: 0 20px;
      }
    }

    @include modifier("button") {
      @include breakpoint(tablet-plus) {
        @include rem-fallback("width", 270px);
        margin: 0 auto;
      }
    }
  }

  @include element("rehome-banner") {
    position: relative;
    text-align: center;

    @include modifier("text") {
      font-family: $helvetica;
      color: color(agray, dark);
      font-weight: 700;
      @include font-size(26);
      @include rem-fallback("line-height", 31px);
      @include rem-fallback("letter-spacing", -0.5px);
      position: absolute;
      @include rem-fallback("padding", 25px 15px 0 15px);
      max-width: 180px;
      text-align: left;

      @include breakpoint(normal) {
        @include font-size(32);
        @include rem-fallback("line-height", 48px);
        @include rem-fallback("padding", 30px 25px 25px);
        max-width: none;
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("padding", 25px);
        text-align: center;
      }
    }
  }

  @include element("memes-jokes") {
    @include rem-fallback("padding", 80px 0);
    border-top: 1px solid color(agray, light);

    @include breakpoint(tablet-plus) {
      border-top: 0;
      padding-top: 0;
    }

    .jokes-item {
      background: color(ablue);
      @include rem-fallback("padding", 25px);
      font-family: $helvetica;
      color: color(awhite);
      font-weight: 400;
      @include font-size(16);
      @include rem-fallback("line-height", 25px);
      letter-spacing: 0;

      @include breakpoint(normal) {
        @include font-size(20);
        @include rem-fallback("line-height", 26px);
        @include rem-fallback("letter-spacing", -0.25px);
      }

      p {
        &:first-child {
          @include rem-fallback("margin-bottom", 20px);
        }
      }
    }

    .quotes-item {
      background: color(agreen);
      @include rem-fallback("padding", 20px 25px);

      .icon-right {
        display: flex;
        justify-content: flex-end;
      }

      @include element(text) {
        font-family: $museo700;
        color: color(awhite);
        font-weight: 400;
        @include font-size(16);
        @include rem-fallback("line-height", 25px);
        letter-spacing: 0;
        text-align: center;
        @include rem-fallback("padding", 10px 30px);

        @include breakpoint(normal) {
          @include font-size(20);
          @include rem-fallback("line-height", 26px);
          @include rem-fallback("letter-spacing", -0.25px);
        }
      }
    }

    .grid-item {
      @include rem-fallback("margin-bottom", 20px);
    }
  }

  .seo__breed-cost {
    @include modifier("content") {
      @include rem-fallback("padding", 0 0 80px);

      @include breakpoint(tablet-plus) {
        padding-bottom: 0;
      }
    }
  }
}

.seo__breed-facts--right {
  overflow: hidden;
}

.slider {
  &.breed-no-slider {
    display: flex;

    .pet-card__details {
      .ellipsis {
        @include breakpoint(tablet-plus) {
          max-width: 256px;
        }
      }
    }
  }
}
