.shelter-detail {
  .shelter-pets {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include breakpoint(thin) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @include breakpoint(normal) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .pet-card,
      .pet-card-act {
        @include rem-fallback("margin", 0 0 20px);

        @include breakpoint(normal) {
          @include rem-fallback("margin", 0 13px 20px 0);
        }

        @include breakpoint(normal) {
          @include rem-fallback("margin", 0 30px 20px 0);

          &:nth-of-type(4) {
            margin-right: 0;
          }

          &:nth-of-type(8) {
            margin-right: 0;
          }

          &:nth-of-type(12) {
            margin-right: 0;
          }

          &:nth-of-type(16) {
            margin-right: 0;
          }

          &:nth-of-type(20) {
            margin-right: 0;
          }
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("margin", 0 20px 20px 0);

          &:nth-of-type(4) {
            margin-right: 0;
          }

          &:nth-of-type(8) {
            margin-right: 0;
          }

          &:nth-of-type(12) {
            margin-right: 0;
          }

          &:nth-of-type(16) {
            margin-right: 0;
          }

          &:nth-of-type(20) {
            margin-right: 0;
          }
        }

        @include breakpoint(wide) {
          @include rem-fallback("margin", 0 21px 20px 0);

          &:nth-of-type(4) {
            margin-right: 0;
          }

          &:nth-of-type(8) {
            margin-right: 0;
          }

          &:nth-of-type(12) {
            margin-right: 0;
          }
        }
      }
    }

    &__center {
    }

    .petcard {
      .petcard__content {
        width: 100%;

        @include breakpoint(normal) {
          width: calc(100% / 4);
        }

        .pet-card,
        .pet-card-act {
          @include element("container") {
            @include breakpoint(wide) {
              min-height: 178px;
            }
          }
        }
      }
    }
  }

  .shelter {
    ul {
      li {
        list-style-type: none;
      }
    }

    p {
      @include rem-fallback("font-size", 20px);
      color: color(agray, darker);
      @include rem-fallback("line-height", 32px);
      letter-spacing: 0;
      font-weight: 200;
    }

    .breadcrumbs {
      margin-top: 0;
    }

    &__donate {
      form {
        margin: 10px 0 0;
      }
    }
  }

  .pagination {
    @include rem-fallback("padding", 35px 0 28px);
    display: table;
    margin: 0 auto;
    @include element("result") {
      text-align: center;
      @include breakpoint(normal) {
        @include rem-fallback("margin", 0 0 64px);
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 64px);
      }

      @include breakpoint(wide) {
        @include rem-fallback("margin", 0 0 64px);
      }
    }
  }

  .select-group {
    &__pager {
      top: 0;
    }
    &__dropdown {
      @include rem-fallback("top", 57.4px);
    }
  }

  .toggle-filter {
    @include breakpoint(phone-plus) {
      display: block;
    }
    @include breakpoint(normal) {
      display: none;
    }
  }

  .is-disable {
    color: color(agray, lighter);
    pointer-events: none;
    fill: color(agray, lighter);
  }

  .p-card-error-msg {
    color: color(agray, light);
    @include rem-fallback("margin", 69px 0 71px);
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .form__label-small {
    @include breakpoint(tablet-plus) {
      font-size: 15px;
    }

    @include breakpoint(wide) {
      font-size: 16px;
    }
  }

  aside {
    p {
      @include rem-fallback("font-size", 20px);
      color: color(agray, darker);
      @include rem-fallback("line-height", 32px);
      font-weight: 200;
      letter-spacing: 0;
    }
  }

  .pet-adt {
    width: 100%;

    @include breakpoint(tablet-plus) {
      @include column(9/12, $gutter);
    }

    &.pet-adt-mobile {
      @include rem-fallback("margin", 0 0 40px);
      @include rem-fallback("padding", 0 0 40px);
      border-bottom: 1px solid color(agray, light);
    }
  }
}

.readmore-handler {
  height: calc(32px * 10);
  overflow: hidden;
}

.shelter,
.select-section {
  h2 {
    font-size: 26px;
    @include breakpoint(wide) {
      font-size: 32px;
    }
  }
}

.shelter-title {
  h1 {
    font-size: 32px;
    @include breakpoint(wide) {
      font-size: 45px;
    }
  }
}
