.spay-neuter {
  @include rem-fallback("padding", 30px 0 60px);

  @include breakpoint(tablet-plus) {
    @include rem-fallback("padding", 60px 0 80px);
  }

  @include element("heading") {
    width: 100%;

    @include breakpoint(tablet-plus) {
      @include column(8/12, $gutter);
    }

    h1 {
      @include heading($h-heading: h2__heading-h2--museo);
      @include rem-fallback("margin", 0 0 15px);

      @include breakpoint(tablet-plus) {
        @include heading($h-heading: h1__heading-h1--museo);
        @include rem-fallback("margin", 0 0 20px);
      }
    }

    h2 {
      @include rem-fallback("margin", 0 0 10px);

      @include breakpoint(tablet-plus) {
        margin: 0;
      }
    }
  }

  @include element("title") {
    @include heading($h-heading: h3__heading-h3--museo);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h2__heading-h2--museo);
    }
  }

  @include element("why") {
    @include rem-fallback("margin", 30px 0);
    @include rem-fallback("padding", 30px 0);
    border-top: 1px solid color(agray, light);
    border-bottom: 1px solid color(agray, light);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 60px 0);
      @include rem-fallback("padding", 60px 0);
    }

    h2 {
      @include rem-fallback("margin", 0 0 15px);

      @include breakpoint(tablet-plus) {
        margin: 0;
      }
    }
  }

  .column {
    &--four {
      width: 100%;

      @include breakpoint(tablet-plus) {
        @include column(4/12, $gutter);
      }
    }

    &--eight {
      width: 100%;

      @include breakpoint(tablet-plus) {
        @include column(8/12, $gutter);
        display: flex;
        align-items: center;
      }
    }
  }

  .list {
    ul {
      li {
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  @include element("content") {
    @include rem-fallback("margin", 0 0 40px);
    align-items: center;

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 40px 0);
    }

    @include modifier("title") {
      @include heading($h-heading: h4__heading-h4--bold-h4--compact);
      @include rem-fallback("line-height", 32px);

      @include breakpoint(tablet-plus) {
        @include heading($h-heading: h3__heading-h3--bold-h3--compact);
        @include rem-fallback("margin", 0 0 10px);
      }
    }

    .list {
      ul {
        li {
          @include rem-fallback("padding-bottom", 40px);
        }
      }
    }

    @include modifier("center") {
      .column--four {
        order: 1;

        @include breakpoint(tablet-plus) {
          order: 2;
        }
      }

      .column--eight {
        order: 2;

        @include breakpoint(tablet-plus) {
          order: 1;
        }
      }
    }

    @include modifier("last") {
      margin: 0;

      .column--four {
        order: 1;

        @include breakpoint(tablet-plus) {
          order: 2;
        }
      }

      .column--eight {
        order: 1;

        @include breakpoint(tablet-plus) {
          order: 2;
        }
      }
    }
  }

  figure {
    margin: 0;

    .image--circle {
      @include rem-fallback("width", 200px);
      @include rem-fallback("height", 200px);
      margin: 0 auto 15px;

      @include breakpoint(tablet-plus) {
        width: 100%;
        margin: 0;
        height: auto;
      }
    }
  }

  @include element("links") {
    h2 {
      @include rem-fallback("margin", 0 0 15px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 40px);
      }
    }

    @include modifier("container") {
      width: 100%;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(tablet-plus) {
        @include column(11/12, $gutter);
        margin: 0;
        column-count: 2;
        column-gap: 110px;
        display: block;
      }
    }

    @include modifier("section") {
      width: 100%;
      @include rem-fallback("margin", 0 0 40px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 60px);
      }

      h5 {
        @include rem-fallback("margin", 5px 0);
      }

      .link-grey-blog {
        color: color(agray, darker);
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: color(ablue);
        }
      }
    }

    @include modifier("section-one") {
      order: 1;
    }

    @include modifier("section-two") {
      order: 3;
    }

    @include modifier("section-three") {
      order: 5;
      @include rem-fallback("margin", 0 0 40px);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 0 0 60px);
      }
    }

    @include modifier("section-four") {
      order: 2;
    }

    @include modifier("section-five") {
      order: 4;
    }

    @include modifier("section-six") {
      order: 6;
      @include rem-fallback("margin", 0 0 40px);

      @include breakpoint(tablet-plus) {
        margin: 0;
      }
    }
  }
}
