.signup {
  width: 100%;

  h1 {
    @include rem-fallback("padding", 0 0 40px);
  }

  @include element("heading") {
    @include heading($h-heading: h2__heading-h2--museo);

    @include breakpoint(normal) {
      @include heading($h-heading: h1__heading-h1--museo);
    }
  }

  @include element("title") {
    @include heading($h-heading: h3__heading-h3--museo);
    @include rem-fallback("line-height", 31px);

    @include breakpoint(normal) {
      @include heading($h-heading: h2__heading-h2--museo);
      @include rem-fallback("line-height", 48px);
    }
  }

  @include element("form") {
    @include rem-fallback("padding", 40px 0 80px);
    width: 100%;

    @include breakpoint(tablet-plus) {
      @include column(8/12, $gutter);
    }
  }

  .form__input {
    margin: 0;
  }

  @include element("column") {
    display: flex;
    flex-wrap: wrap;

    .text-field-container {
      width: 100%;
      @include rem-fallback("margin", 20px 0 0);

      @include breakpoint(normal) {
        @include column(6/12, $gutter);
      }
    }
  }

  .password-column {
    .text-field-container {
      .form__input {
        @include rem-fallback("padding", 17px 35px 4px 17px);
      }

      .valid-tick {
        @include rem-fallback("right", 30px);
      }
    }
  }

  @include element("optin") {
    .white-bg {
      &:last-child {
        margin: 0;
      }
    }

    .checkbox__label {
      display: block;
    }
  }

  @include element("button") {
    @include rem-fallback("padding", 40px 0 20px);
  }

  @include element("password-error") {
    .text-field-container {
      margin: 0;
    }
  }

  .social-login {
    @include rem-fallback("padding", 0 0 80px);
    @include rem-fallback("margin", 0 0 60px);
    border-bottom: 1px solid color(agray, light);
  }

  .social-profile {
    img {
      @include rem-fallback("width", 70px);
      @include rem-fallback("height", 70px);
      border-radius: 35px;

      @include breakpoint(normal) {
        @include rem-fallback("width", 140px);
        @include rem-fallback("height", 140px);
        border-radius: 70px;
      }
    }

    @include element("details") {
      @include rem-fallback("margin", 30px 0 40px);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 40px 0 40px);
      }

      .link-blue {
        @include font-size(16);
        @include rem-fallback("line-height", 20px);
        display: block;

        @include breakpoint(normal) {
          @include font-size(20);
          @include rem-fallback("line-height", 32px);
          display: inline-block;
          @include rem-fallback("padding", 0 0 0 10px);
        }
      }
    }
  }

  @include element("confirm") {
    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding", 80px 0 0);
    }

    .login-confirm {
      width: 100%;
      height: 100%;

      @include breakpoint(tablet-plus) {
        align-items: flex-start;
        justify-content: space-between;
      }

      h1 {
        @include rem-fallback("padding", 40px 0 0);

        @include breakpoint(normal) {
          @include rem-fallback("padding", 60px 0 0);
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("padding", 40px 0 0);
        }
      }

      h3 {
        @include heading($h-heading: h5__heading-h5--light-h5--compact);
        @include rem-fallback("letter-spacing", -0.25px);

        @include breakpoint(normal) {
          color: color(agray, darker);
          font-weight: 200;
          @include font-size(26);
          @include rem-fallback("line-height", 39px);
          letter-spacing: 0;
        }
      }
    }

    .login-confirm__right {
      height: auto;
      justify-content: center;

      @include breakpoint(normal) {
        justify-content: flex-end;
      }
    }

    .login-confirm__right {
      img {
        width: auto;
        height: 300px;
        @include rem-fallback("margin-top", 60px);

        @include breakpoint(normal) {
          @include rem-fallback("height", 480px);
        }

        @include breakpoint(tablet-plus) {
          margin-top: 0;
        }
      }
    }

    .login-popup__button {
      width: 100%;

      @include breakpoint(normal) {
        @include rem-fallback("width", 320px);
      }
    }

    &.signup-status {
      .login-confirm {
        h1 {
          @include breakpoint(tablet-plus) {
            @include rem-fallback("padding", 60px 0 0);
          }
        }
      }

      .login-confirm__right {
        img {
          @include breakpoint(tablet-plus) {
            @include rem-fallback("margin", 0 50px 0 0);
          }
        }
      }
    }

    &.reset-confirm {
      .login-confirm {
        h1 {
          @include breakpoint(tablet-plus) {
            @include rem-fallback("padding", 60px 0 0);
          }
        }
      }

      .login-confirm__right {
        img {
          @include breakpoint(normal) {
            @include rem-fallback("height", 505px);
          }
        }
      }
    }

    &.social-confirm {
      .login-confirm__right {
        img {
          @include breakpoint(normal) {
            @include rem-fallback("height", 525px);
          }

          @include breakpoint(tablet-plus) {
            @include rem-fallback("margin", 0 50px 0 0);
          }
        }
      }
    }

    &.signup-error {
      .login-confirm__right {
        img {
          @include rem-fallback("margin-top", 30px);

          @include breakpoint(normal) {
            @include rem-fallback("margin-top", 60px);
          }

          @include breakpoint(tablet-plus) {
            margin-top: 0;
          }
        }
      }
    }

    &.signup-welcome {
      .login-confirm {
        h1 {
          @include breakpoint(tablet-plus) {
            @include rem-fallback("padding", 60px 0 0);
          }
        }

        .user-name {
          @include breakpoint(tablet-plus) {
            display: block;
          }
        }
      }

      .login-confirm__right {
        img {
          @include rem-fallback("margin-top", 60px);

          @include breakpoint(normal) {
            @include rem-fallback("height", 470px);
            @include rem-fallback("margin-top", 80px);
          }

          @include breakpoint(tablet-plus) {
            margin-top: 0;
          }
        }
      }
    }

    &.poll-thankyou {
      .login-confirm {
        h1 {
          @include heading($h-heading: h2__heading-h2--museo);

          @include breakpoint(tablet-plus) {
            @include rem-fallback("padding", 60px 0 0);
            @include heading($h-heading: h1__heading-h1--museo);
          }
        }

        h3 {
          font-family: $helvetica;
          color: color(agray, darker);
          font-weight: 200;
          @include font-size(20);
          @include rem-fallback("line-height", 32px);
          letter-spacing: 0;

          @include breakpoint(tablet-plus) {
            @include font-size(26);
            @include rem-fallback("line-height", 39px);
          }
        }
      }

      .login-confirm__right {
        img {
          margin-top: 0;
          width: 100%;
          height: auto;

          @include breakpoint(normal) {
            @include rem-fallback("height", 535px);
            width: auto;
          }
        }
      }
    }
  }

  @include element("privacy") {
    .h6__heading {
      color: color(agray, light);
      font-weight: 200;
      @include font-size(12);
      @include rem-fallback("line-height", 17px);
    }
  }
}
