.shelter-pet-list {
  width: 100%;

  .shelter-content {
    .shelter-heading--info {
      width: 100%;
    }
  }

  .shelter-heading {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include rem-fallback("margin", 20px 0 0);
    justify-content: space-between;

    &--info,
    &--button {
      @include column;
    }

    &--button {
      @include rem-fallback("margin", 40px 0 40px);
    }

    @include breakpoint(tablet-plus) {
      &--info {
        @include column(3/4);
      }

      &--button {
        @include column(1/4);
        @include rem-fallback("margin", 20px 0 0);
      }

      @include rem-fallback("margin", 40px 0);

      h1,
      .view-link {
        display: inline-block;
        vertical-align: bottom;
        align-self: baseline;
      }
    }

    .view-link {
      width: 100%;

      @include breakpoint(tablet-plus) {
        @include rem-fallback("padding", 0 0 0 20px);
        flex: 1 0 25%;
      }
    }

    p {
      &.h5__heading {
        line-height: 17px;
        font-size: 14px;

        @include breakpoint(tablet-plus) {
          line-height: 25px;
          font-size: 16px;
        }
      }
    }

    &--title {
      width: auto;
      @include rem-fallback("margin", 0 0 20px);
      @include heading($h-heading: h2__heading-h2--museo);

      @include breakpoint(tablet-plus) {
        margin: 0;
        @include heading($h-heading: h1__heading-h1--museo);
      }
    }

    &--title-section {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(tablet-plus) {
        flex-wrap: nowrap;
      }
    }
  }

  .shelter-filter {
    @include rem-fallback("padding", 0 0 40px);

    .select-group {
      @include rem-fallback("padding", 20px 0 0);

      @include breakpoint(tablet-plus) {
        padding: 0;
      }
    }

    .toggle-filter {
      @include breakpoint(normal) {
        display: none;
      }
    }
  }

  .shelter-pagination {
    text-align: center;

    .pagination {
      @include rem-fallback("padding", 35px 0 40px);
      display: inline-block;
    }
  }

  .petcard__content {
    &:last-child {
      margin-bottom: 0;
    }

    @include breakpointminmax(normal, tablet-plus) {
      &:nth-child(3n + 1) {
        &:nth-last-child(-n + 3) {
          padding-bottom: 0;
        }
      }
      &:nth-child(3n + 1) {
        &:nth-last-child(-n + 3) ~ .petcard__content {
          padding-bottom: 0;
        }
      }
    }

    @include breakpoint(tablet-plus) {
      &:nth-child(4n + 1) {
        &:nth-last-child(-n + 4) {
          padding-bottom: 0;
          display: inline;
        }
      }
      &:nth-child(4n + 1) {
        &:nth-last-child(-n + 4) ~ .petcard__content {
          padding-bottom: 0;
          display: inline;
        }
      }
    }

    .pet-card,
    .pet-card-act {
      @include element("container") {
        @include breakpoint(wide) {
          min-height: 254px;
        }
      }
    }
  }
}
