.tos {
  .blockquote {
    @include breakpoint(tablet-plus) {
      @include column(8/12, $gutter);
      @include rem-fallback("padding-bottom", 20px);
    }

    @include element("updated") {
      @include rem-fallback("margin", 15px 0);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin", 20px 0);
      }
    }

    @include modifier("tos-bottom") {
      display: none;

      @include breakpoint(tablet-plus) {
        display: flex;
        @include rem-fallback("padding", 80px 0);
      }
    }
  }

  @include element("info-section") {
    @include rem-fallback("padding", 30px 0 60px);
    @include rem-fallback("margin-top", 10px);
    @include border(2px solid color(agray, lighter), top);

    @include breakpoint(normal) {
      @include rem-fallback("padding", 60px 0 80px);
      @include rem-fallback("margin-top", 40px);
    }
  }

  @include element("info-container") {
    @include rem-fallback("padding", 0 0 30px);

    @include breakpoint(normal) {
      padding: 0;
    }
  }

  @include element("button") {
    @include rem-fallback("padding", 0 0 60px);

    @include breakpoint(normal) {
      @include rem-fallback("padding", 0 0 80px);
    }
  }

  @include element("info-title") {
    text-align: center;
    @include rem-fallback("padding", 5px 0);

    @include breakpoint(normal) {
      @include rem-fallback("padding", 10px 0);
    }
  }

  .static-section--left {
    padding-bottom: 0;

    .sticky {
      @include rem-fallback("padding-bottom", 40px);

      @include breakpoint(tablet-plus) {
        padding-bottom: 0;
      }
    }

    .content {
      @include rem-fallback("padding-bottom", 30px);

      @include breakpoint(tablet-plus) {
        padding-bottom: 0;
      }
    }
  }
}
