// link classes
a {
  text-decoration: none;

  &:visited {
    &.link-gray-darker {
      color: $sixty-per-gray-dary;
    }
  }
}

.link-gray-darker {
  color: color(agray, darker);
  cursor: pointer;

  @include breakpoint(thin) {
    hover: none;
  }

  @include breakpoint(wide) {
    &:hover {
      text-decoration: underline;
      color: color(ablue);
    }
  }

  &:active {
    text-decoration: underline;
    color: color(ablue, dark);
  }

  &.no-link {
    border-bottom: 0;
    cursor: default;
    color: color(ablue);
  }

  @include modifier("no-decoration") {
    &:hover {
      text-decoration: none;
    }
  }
}

.link-gray-light {
  color: color(agray, light);
  cursor: pointer;

  @include breakpoint(thin) {
    hover: none;
  }

  @include breakpoint(wide) {
    &:hover {
      text-decoration: underline;
      color: color(ablue);
    }
  }

  &:active {
    text-decoration: underline;
    color: color(ablue, dark);
  }

  &.no-link {
    text-decoration: none;
    cursor: default;
    color: color(ablue);
  }
}

.link-blue {
  color: color(ablue);
  cursor: pointer;

  @include breakpoint(thin) {
    hover: none;
  }

  @include breakpoint(wide) {
    &:hover {
      text-decoration: underline;
      color: color(ablue);
    }
  }

  &:active {
    text-decoration: underline;
    color: color(ablue, dark);

    & .blue-text {
      text-decoration: underline;
      color: color(ablue, dark);
    }
  }

  &.no-link {
    text-decoration: none;
    cursor: default;
    color: color(ablue);
  }
}

.link-white {
  color: color(awhite);
  cursor: pointer;

  @include breakpoint(thin) {
    hover: none;
  }

  &.no-link {
    text-decoration: none;
    cursor: default;
    color: color(awhite);
  }
}

.breadcrumbs {
  display: table;

  & svg {
    width: 9px;
    height: 9px;
    fill: color(ablue);
  }

  & .is-disable {
    color: color(agray, lighter);
    pointer-events: none;
    fill: color(agray, lighter);
  }
}

.page-link {
  display: table;

  @include breakpoint(thin) {
    hover: none;
  }

  @include breakpoint(wide) {
    &:hover {
      & .link-blue {
        text-decoration: underline;
        color: color(ablue);
      }

      & .pl-arrow {
        fill: color(ablue, dark);
      }
    }
  }

  & .pl-arrow {
    width: 11px;
    height: 11px;
    fill: color(ablue);
  }

  & .br-arrow {
    width: 9px;
    height: 9px;
    fill: color(ablue);
  }

  &:active {
    text-decoration: underline;
    color: color(ablue, dark);

    & .link-blue {
      text-decoration: underline;
      color: color(ablue, dark);
    }
  }

  &.no-link {
    text-decoration: none;
    cursor: default;
    color: color(ablue);
  }
}

.accordion-link {
  display: table;

  @include breakpoint(thin) {
    hover: none;
  }

  @include breakpoint(wide) {
    &:hover {
      & .link-blue {
        text-decoration: underline;
        color: color(ablue);
      }

      & svg {
        fill: color(ablue, dark);
      }
    }
  }

  & svg {
    width: 11px;
    height: 11px;
    fill: color(ablue);

    &.accordion-link-down {
      transform: rotate(-90deg);
      transition: all 0.3s ease-in-out;
    }

    &.accordion-link-up {
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
    }
  }

  &:active {
    text-decoration: none;
    color: color(ablue, dark);

    @include breakpoint(wide) {
      text-decoration: underline;
    }

    & .link-blue {
      text-decoration: none;
      color: color(ablue, dark);

      @include breakpoint(wide) {
        text-decoration: underline;
      }
    }

    & .link-white {
      text-decoration: none;
      color: color(awhite);

      @include breakpoint(wide) {
        text-decoration: underline;
      }
    }
  }

  .link-blue {
    &:active {
      text-decoration: none;

      @include breakpoint(wide) {
        text-decoration: underline;
      }
    }
  }

  &.no-link {
    text-decoration: none;
    cursor: default;
    color: color(ablue);
  }
}

.link-break {
  word-break: break-all;
}

.accordion-inactive {
  .accordion-link {
    pointer-events: none;
  }

  .link-blue {
    text-decoration: none;
    cursor: default;
    color: color(agray, lighter);
  }

  & svg {
    fill: color(agray, lighter);
  }
}
