body {
  margin: 0;
  color: $preset-body-color;
  font-family: $helvetica;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.blue-bg {
  background-color: color(ablue, base);
}

.grey-bg {
  background-color: $sixty-percent-grey;
}

.ltgrey-bg {
  background-color: $twenthy-percent-grey;
}

.blue-text {
  color: color(ablue);
}

.grey-text {
  color: color(agray);

  &--adopted {
    color: color(agray, light);
  }
}

.grey-text-light {
  color: color(agray, light);
}

//ios scroll-bar
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $ios-scroll-bg;
  -webkit-box-shadow: $ios-scroll-shadow;
}

.f-letter-caps {
  text-transform: capitalize;
}

.span-no-caps {
  text-transform: none;
}

.caps {
  text-transform: uppercase;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: -webkit-nowrap;
  display: block;

  @include modifier("2-line") {
    -webkit-line-clamp: 2;
  }

  @include modifier("3-line") {
    -webkit-line-clamp: 3;
  }
}

.line-break {
  word-break: break-word;
}

.text {
  @include modifier("center") {
    text-align: center;
  }
}

.back-to-top {
  display: none;
  position: fixed;
  @include rem-fallback("bottom", 20px);
  @include rem-fallback("right", 20px);

  @include element("circle") {
    @include rem-fallback("width", 44px);
    @include rem-fallback("height", 44px);
    z-index: 9999;
    background-color: $eighty-per-blue-base;
    border-radius: 50px;
    transform: rotate(270deg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  @include element("arrow") {
    display: flex;
    position: relative;
    left: 1px;

    svg {
      fill: color(awhite);
      @include rem-fallback("width", 12px);
      @include rem-fallback("height", 18px);
    }
  }

  &.petsearch-page {
    @include rem-fallback("bottom", 78px);

    @include breakpoint(normal) {
      @include rem-fallback("bottom", 20px);
    }
  }
}

input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px color(awhite) inset;
  }
}

.full-width {
  width: 100%;
}
