// font classes
.font-secondary-300 {
  font-family: $museo300;
}
.font-secondary-500 {
  font-family: $museo500;
}
.font-secondary-700 {
  font-family: $museo700;
}

.font-utility-300 {
  font-family: $museosans300;
}

.font-utility-500 {
  font-family: $museosans500;
}

.font-utility-700 {
  font-family: $museosans700;
}
