
// Styles here will be applied to every periodic component. Treat this like you
// would with the main `body {...}` style in a normal app.
.#{$prefix-component}#{$periodic-component-class} {
    margin: 0;
    font-family: $font-helvetica;
    font-weight: 400;
    font-size: $base-font-size;
    color: $preset-body-color;
    line-height: 1.5;
    text-decoration: none;
}
