
// Styles here will be applied to every periodic component. Treat this like you
// would with the main `body {...}` style in a normal app.
.#{$prefix-component}#{$periodic-component-class} {
    margin: 0;
    font-family: $font-helvetica;
    text-decoration: none;
}
