$gutter: em(24);

.barks-purrs {
  @include rem-fallback("padding", 80px 0);
  @include rem-fallback("border-bottom", 2px solid color(agray, lighter));
  @include rem-fallback("border-top", 2px solid color(agray, lighter));

  @include breakpoint(tablet-plus) {
    @include rem-fallback("padding", 40px 0);
    @include rem-fallback("padding-bottom", 20px);
    border-bottom: 0;
  }

  &__text {
    @include rem-fallback("margin", 20px 0);
    color: color(agray);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("padding-bottom", 20px);
      @include rem-fallback("border-bottom", 1px dashed color(agray, lighter));
    }
  }

  &__section {
    @include column(12/12, $gutter);
    position: relative;
    @include rem-fallback("padding-bottom", 40px);
    @include rem-fallback("margin-bottom", 40px);
    @include rem-fallback("border-bottom", 1px dashed color(agray, lighter));
    overflow: hidden;

    &.barks-purrs__blog {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .social-media-share__link {
      float: left;
      @include rem-fallback("margin-right", 10px);
    }

    @include breakpoint(normal) {
      @include column(4/12, $gutter);
      @include rem-fallback("padding-right", 12px);
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
      @include rem-fallback("border-right", 1px dashed color(agray, lighter));

      &.barks-purrs__blog {
        border-right: 0;
      }
    }

    @include breakpoint(tablet-plus) {
      @include column(12/12, $gutter);
      @include rem-fallback("padding-bottom", 20px);
      @include rem-fallback("margin-bottom", 20px);
      padding-right: 0;
      @include rem-fallback("border-bottom", 1px dashed color(agray, lighter));
      border-right: 0;
    }
  }

  &__sub-heading {
    display: block;
    @include rem-fallback("height", 32px);

    &:hover {
      color: color(ablue);

      > .social-media-share--twitter {
        background-color: social-color(twitter);
        border-color: social-color(twitter);
      }

      > .social-media-share--facebook {
        background-color: social-color(facebook);
        border-color: social-color(facebook);
      }

      > .social-media-share--paw {
        background-color: social-color(paw);
        border-color: social-color(paw);
      }

      > .social-media-share__link {
        & svg {
          fill: color(awhite);
        }
      }
    }
  }

  &__body {
    @include rem-fallback("margin", 10px 0);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 20px 0);
    }

    &-twitter {
      margin-top: 0;

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-top", 20px);
      }
    }
  }

  &__date {
    position: absolute;
    top: 0;
    right: 0;
    @include heading($h-heading: h6__heading-h6--bold);
    color: color(agray, light);

    @include breakpoint(normal) {
      @include rem-fallback("right", 12px);
    }

    @include breakpoint(tablet-plus) {
      right: 0;
    }
  }

  &__link {
    @include rem-fallback("margin-top", 5px);
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}
