.bonded-pet {
  display: flex;
  @include rem-fallback("height", 124px);
  @include border-radius(8px);
  box-shadow: $pet-card-shade, $pet-card-border;

  &:active {
    background: $twenty-percent-lighter-grey;
    box-shadow: $pet-card-bg-shade, $pet-card-border;
  }

  @include breakpoint(tablet-plus) {
    @include rem-fallback("height", 124px);

    &:hover {
      background: $twenty-percent-lighter-grey;
    }
  }

  @include element("img-container") {
    @include rem-fallback("width", 124px);
    height: auto;
    @include border-radius(8px 0 0 8px);
  }

  @include element("info") {
    display: flex;
    flex-direction: column;
    @include rem-fallback("padding", 15px);
  }

  @include element("content") {
    @include heading($h-heading: h5__heading-h5--light-h5--compact);
    @include rem-fallback("max-width", 175px);

    @include breakpoint(normal) {
      @include rem-fallback("max-width", 595px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("max-width", 315px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("max-width", 410px);
    }
  }

  @include element("title") {
    @include heading($h-heading: h5__heading-h5--compact);
  }

  @include element("name") {
    @include heading($h-heading: h4__heading-h4--x-compact);
    color: color(ablue);
    display: block;
  }

  @include element("text") {
    @include rem-fallback("margin-top", 10px);
  }

  @include element("link") {
    width: 100%;
    outline: none;
    display: flex;
    flex-wrap: no-wrap;
  }
}
