.demo-line-height {
  line-height: 1.8rem;
}

.demo-bottom-space {
  padding: 0 0 0.8rem;
}

.shelter-page {
  .demo-bottom-space-1 {
    padding: 2.3125rem 0;
  }
}
.demo-page {
  box-sizing: border-box;
  width: 100%;

  @include breakpoint(thin) {
    @include container($normal, $center: true);
    display: block;
  }

  @include breakpoint(normal) {
    @include container($normal, $center: true);
    display: block;
  }

  @include breakpoint(wide) {
    @include container($normal, $center: true);
    display: block;
  }
  .shelter-result__info {
    padding: initial;
  }
}
