.foster-pet {
  display: flex;
  @include border-radius(6px);
  box-shadow: $foster-card-shade;
  background: $forty-per-lighter-grey;

  @include element("icon") {
    @include rem-fallback("margin", 0 25px);
    align-self: center;

    @include breakpoint(normal) {
      @include rem-fallback("margin", 0 40px);
    }

    svg {
      @include rem-fallback("width", 57px);
      @include rem-fallback("height", 50px);
    }
  }

  @include element("info") {
    display: flex;
    flex-direction: column;
    align-self: center;
    @include rem-fallback("padding-right", 20px);
  }

  @include element("content") {
    @include rem-fallback("padding", 5px 0 0);
    @include heading($h-heading: h5__heading-h5--bold-h5--compact);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h4__heading-h4--bold-h4--x-compact);
    }
  }

  @include element("title") {
    @include heading($h-heading: h6__heading-h6--compact);
    color: color(agray, dark);

    @include breakpoint(normal) {
      @include heading($h-heading: h5__heading-h5--compact);
    }
  }

  @include element("text") {
    display: inline-block;
  }

  @include element("link") {
    width: 100%;
    outline: none;
    display: flex;
    flex-wrap: no-wrap;
    @include rem-fallback("padding", 25px 0);
    cursor: default;
  }
}

.foster-resources {
  @include element("form") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-field-container {
      width: 100%;

      @include breakpoint(normal) {
        @include column(8/12, $gutter);
      }

      .form__input {
        margin: 0;
      }
    }
  }

  @include element("button") {
    width: 100%;
    @include rem-fallback("margin", 20px 0 0);

    @include breakpoint(normal) {
      @include column(4/12, $gutter);
      margin: 0;
    }
  }

  @include element("thanks") {
    border-top: 1px solid color(agray, light);
    @include rem-fallback("padding", 40px 0 0);
    @include rem-fallback("margin", 40px 0 0);
  }
}
