.favorite-pets-patternlab {
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0;
}

.favorite-pets-card-loader {
  opacity: 0;
}

.fav-pet-card {
  box-shadow: $pet-card-shade, $pet-card-border;
  border-radius: 8px;
  background: color(awhite);
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @include breakpoint(tiny) {
    width: 300px;
    margin: 0;
  }

  @include breakpoint(thin) {
    @include rem-fallback("width", 326px);
  }

  @include breakpoint(normal) {
    @include rem-fallback("width", 362px);
  }

  @include breakpoint(tablet-plus) {
    @include rem-fallback("width", 348px);
  }

  @include breakpoint(wide) {
    @include rem-fallback("width", 368px);
  }

  &:hover {
    background: $twenty-percent-lighter-grey;
  }

  @include element("bg") {
    background: $twenty-percent-lighter-grey;
    box-shadow: inset 0 3px 4px color(agray, light), inset 0 0 1px color(agray, lighter);
  }

  @include element("top") {
    display: flex;

    .fav-pet-card__link {
      display: flex;
      width: 100%;
    }
  }

  @include element("figure") {
    display: flex;
    border-radius: $border-radius;
    position: relative;

    @include breakpoint(tiny) {
      @include rem-fallback("margin", 8px 0 8px 8px);
      @include rem-fallback("width", 100px);
      @include rem-fallback("height", 100px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("margin", 10px 0 10px 10px);
      @include rem-fallback("width", 124px);
      @include rem-fallback("height", 124px);
    }
  }

  @include element("container") {
    border-radius: $border-radius;

    @include breakpoint(tiny) {
      @include rem-fallback("width", 100px);
      @include rem-fallback("height", 100px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("width", 124px);
      @include rem-fallback("height", 124px);
    }
  }

  @include element("caption") {
    border-radius: 0 0 6px 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: color(awhite);
    @include heading($h-heading: h6-museo);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include element("content") {
    position: relative;

    @include breakpoint(tiny) {
      @include rem-fallback("margin", 8px);
      width: 62%;
    }

    @include breakpoint(normal) {
      @include rem-fallback("margin", 15px 10px 10px 15px);
      width: 100%;
    }
  }

  @include element("content--color") {
    color: color(aorange);
    font-weight: 400;
  }

  @include element("closer") {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    fill: color(agray, dark);
    z-index: 1;
    @include rem-fallback("width", 22px);
    @include rem-fallback("height", 22px);

    & svg {
      @include rem-fallback("width", 22px);
      @include rem-fallback("height", 22px);
    }

    &:hover {
      @include breakpoint(thin) {
        hover: none;
      }

      @include breakpoint(wide) {
        fill: color(ablue);
      }
    }

    &:active {
      fill: color(ablue, dark);
    }
  }

  @include element("heading") {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include breakpoint(tiny) {
      @include rem-fallback("width", 154px);
      @include rem-fallback("padding-right", 8px);
    }

    @include breakpoint(thin) {
      @include rem-fallback("width", 179px);
      @include rem-fallback("padding-right", 8px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("width", 187px);
      @include rem-fallback("padding-right", 10px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("width", 170px);
      @include rem-fallback("padding-right", 10px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("width", 187px);
      @include rem-fallback("padding-right", 10px);
    }
  }

  @include element("profile") {
    @include breakpoint(tiny) {
      @include rem-fallback("margin", 0 0 8px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("margin", 0 0 15px);
    }
  }

  @include element("details") {
    @include rem-fallback("height", 60px);
  }

  @include element("info") {
    @include modifier("comma") {
      &:not(:empty) {
        &:not(:last-of-type) {
          &::after {
            content: ", ";
          }
        }
      }
    }
  }

  @include element("middle") {
    display: flex;
    flex-direction: column;
  }

  @include element("box") {
    display: flex;
    border-top: 1px solid color(agray, light);
    background: $twenty-percent-lighter-grey;

    @include breakpoint(tiny) {
      @include rem-fallback("padding", 8px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("padding", 10px);
    }

    @include modifier("label") {
      width: 24%;
    }

    @include modifier("label-full") {
      width: 100%;
    }

    @include modifier("value") {
      width: 76%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @include element("bottom") {
    display: flex;
    position: relative;
  }

  @include element("share-button") {
    display: flex;
    position: relative;
  }

  @include element("share") {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid color(agray, light);
    @include rem-fallback("width", 62px);

    @include modifier("icon") {
      fill: color(agray, light);
      @include rem-fallback("width", 30px);
      @include rem-fallback("height", 23px);

      & svg {
        @include rem-fallback("width", 30px);
        @include rem-fallback("height", 23px);
      }

      &:hover {
        fill: color(ablue);
      }

      &:active {
        fill: color(ablue, dark);
      }
    }
  }

  @include element("button") {
    @include breakpoint(tiny) {
      @include rem-fallback("width", 238px);
    }

    @include breakpoint(thin) {
      @include rem-fallback("width", 264px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("width", 300px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("width", 286px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("width", 306px);
    }

    @include modifier("green") {
      border-radius: 0 0 0.375em;
    }

    @include modifier("telephone") {
      @include rem-fallback("width", 23px);
      @include rem-fallback("height", 23px);
      position: relative;
      top: -1px;
    }

    @include modifier("document") {
      vertical-align: middle;
      position: relative;
      bottom: 2px;
      @include rem-fallback("width", 24px);
      @include rem-fallback("height", 26px);
    }
  }

  @include element("desc") {
    border-top: 1px solid $sixty-per-light-grey;
    width: 100%;

    @include breakpoint(tiny) {
      @include rem-fallback("padding", 8px);
      @include heading($h-heading: h6__heading-h6--compact);
    }

    @include breakpoint(normal) {
      @include rem-fallback("padding", 8px 10px);
      @include rem-fallback("height", 58px);
      @include heading($h-heading: h5__heading-h5--compact);
    }
  }

  @include element("name") {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;

    @include breakpoint(tiny) {
      max-width: 90px;
    }

    @include breakpoint(thin) {
      max-width: 146px;
    }

    @include breakpoint(normal) {
      max-width: 155px;
    }

    @include breakpoint(tablet-plus) {
      max-width: 106px;
    }

    @include breakpoint(wide) {
      max-width: 160px;
    }
  }
}

.fav-pet-card-act {
  @include element("caption") {
    background: color(aorange);
  }
}

.fav-pet-card-adopt {
  cursor: default;

  @include element("caption") {
    background: color(ablue);
  }

  .fav-pet-card__profile {
    visibility: hidden;
  }

  .fav-pet-card {
    @include element("container") {
      opacity: 0.6;
    }

    @include element("content--section") {
      opacity: 0.6;
    }

    @include element("middle") {
      opacity: 0.6;
    }
  }

  .fav-pet-card__link {
    cursor: default;
    width: 100%;
  }
}

.fav-pet-card-unavail {
  .fav-pet-card__caption {
    display: none;
  }
}
