$gutter: em(24);

.footer {
  @include column;
  @include rem-fallback("padding-top", 40px);
  @include rem-fallback("padding-bottom", 40px);
  background-color: $sixty-per-lighter-grey;

  @include breakpoint(wide) {
    @include rem-fallback("padding-top", 60px);
    @include rem-fallback("padding-bottom", 60px);
  }

  &__actions,
  &__links,
  &__info {
    @include column(4/4, $gutter);
  }

  &__actions {
    @include breakpoint(tablet-plus) {
      @include column(3/12, $gutter);
      order: 2;
    }

    @include breakpoint(wide) {
      @include column(3/12, $gutter);
    }
  }

  &__links {
    @include rem-fallback("padding", 40px 0);

    @include breakpoint(normal) {
      @include container($normal);
      padding-bottom: 0;
    }

    @include breakpoint(tablet-plus) {
      @include container($normal);
      @include column(3/4, $gutter);
      order: 1;
      margin: 0;
      padding: 0;
    }
  }

  &__social-media {
    width: 100%;
    @include rem-fallback("padding", 20px 0);

    @include breakpoint(normal) {
      display: flex;
      @include column(6/12, $gutter);
      align-items: flex-start;
      @include rem-fallback("padding", 50px 0 0);
    }

    @include breakpoint(tablet-plus) {
      @include column(12/12, $gutter);
      order: 2;
      align-items: center;
      @include rem-fallback("padding", 20px 0);
    }

    .social-media {
      width: 100%;
      justify-content: space-between;

      @include breakpoint(tablet-plus) {
        justify-content: space-between;
      }

      &__link {
        @include border(1px solid transparent);

        &:nth-child(3) {
          @include breakpoint(tablet-plus) {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__info {
    color: color(agray, darker);

    @include breakpoint(normal) {
      @include rem-fallback("margin-top", 40px);
    }

    @include breakpoint(tablet-plus) {
      order: 3;
    }

    h4 {
      @include rem-fallback("margin-top", 20px);
    }

    &--link {
      color: color(ablue, base);

      &:hover {
        text-decoration: underline;
        color: color(ablue, dark);
      }
    }
  }

  &__divider {
    @include breakpoint(normal) {
      height: 0;
      width: 100%;
      @include rem-fallback("margin-bottom", 39px);
      margin-top: 0;
      border-top: 1px solid color(agray, light);
      border-left: 0;
    }
  }

  &__copyright {
    display: flex;
    @include rem-fallback("height", 58px);
    background-color: color(agray, light);
    text-align: center;
    align-items: center;

    h5 {
      width: 100%;
      color: color(awhite, base);
    }
  }
}

.container-footer-wide {
  @include breakpoint(wide) {
    @include container($wide);
  }
}

.list {
  .footer__menu {
    margin: 0 auto;
    padding-left: 0;
    list-style: none;

    @include breakpoint(normal) {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .footer__menu-item {
    color: color(agray, darker);
    border-bottom: 1px solid color(agray, light);

    &--first {
      border-top: 1px solid color(agray, light);
    }

    @include breakpoint(normal) {
      display: inline-block;
      align-items: flex-start;
      border: 0;
    }
  }

  .footer__submenu-link,
  .footer__menu-item {
    display: block;
    @include rem-fallback("height", 44px);
    @include rem-fallback("padding", 9px 0);
    color: color(agray, darker);
    text-decoration: none;

    &hover {
      text-decoration: underline;
    }

    @include breakpoint(normal) {
      height: auto;
      padding: 0;
    }
  }

  .footer__menu-item,
  .footer__submenu-item {
    list-style: none;
    height: auto;

    @include breakpoint(normal) {
      width: 130px;
      margin: 0 15px;

      &--first {
        margin-left: 0;
      }

      &--last {
        margin-right: 0;
      }
    }

    @include breakpoint(tablet-plus) {
      margin: 0 11px;
    }

    @include breakpoint(wide) {
      margin: 0 15px;
    }
  }

  .footer__submenu {
    @include column(4/4, $gutter);
    display: none;
    margin-left: 0;
    padding-left: 0;

    @include breakpoint(normal) {
      display: block;
    }

    &--open {
      display: block;
      background-color: color(agray, lighter);
      border-top: 0;
      border-bottom: 0;

      @include breakpoint(normal) {
        background-color: transparent;
      }
    }

    &--is-open {
      background-color: color(agray, lighter);

      @include breakpoint(normal) {
        background-color: transparent;
      }
    }
  }

  .footer__menu-link {
    @include column(4/4, $gutter);

    &:focus {
      background-color: color(agray, lighter);

      @include breakpoint(normal) {
        background-color: transparent;
      }
    }
  }

  .footer__submenu-item {
    padding-left: 0;
    margin: 0;

    &:hover {
      background-color: $forty-per-light-grey;

      @include breakpoint(normal) {
        background-color: transparent;
      }

      h5 {
        @include breakpoint(normal) {
          color: color(ablue, base);
          font-weight: 400;
        }
      }
    }
  }
}

.newsletter {
  width: 100%;

  @include breakpoint(normal) {
    @include column(6/12, $gutter);
    display: flex;
    align-items: center;
    padding: 0;
  }

  @include breakpoint(tablet-plus) {
    @include column(12/12, $gutter);
    order: 1;
    @include rem-fallback("margin-bottom", 20px);
  }

  h4 {
    @include rem-fallback("margin-bottom", 20px);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-bottom", 5px);
      @include rem-fallback("line-height", 23px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("margin-bottom", 20px);
      @include rem-fallback("line-height", 32px);
    }
  }

  &__label {
    @include rem-fallback("font-size", 20px);
    @include rem-fallback("bottom", 13px);
  }

  &__email {
    flex-grow: 1;
    margin-top: 0;
    box-shadow: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @include border(1px solid color(agray, lighter));
    @include rem-fallback("font-size", 20px);
  }

  &__button {
    flex: 0 0 58px;
    @include rem-fallback("height", 58px);
    vertical-align: middle;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 2.65;

    svg {
      @include rem-fallback("width", 30px);
      @include rem-fallback("height", 22px);
      vertical-align: middle;
      fill: color(awhite);
    }
  }

  .text-field-container {
    display: flex;
  }

  .scoop-signup-foot {
    width: 100%;
  }
}

.desktop {
  display: none;
}

.social-media--facebook,
.social-media--instagram,
.social-media--twitter,
.social-media--pinterest,
.social-media--youtube {
  fill: color(agray, light);
}
