// images

.image {
  display: flex;
  max-width: 100%;

  @include modifier("right") {
    margin: 0 0 0 auto;
  }

  @include modifier("left") {
    margin: 0;
  }

  @include modifier("center") {
    margin: 0 auto;
  }

  @include modifier("radius") {
    @include border-radius(8px);
  }

  @include modifier("radius6") {
    @include border-radius(6px);
  }

  @include modifier("button-radius") {
    @include border-radius(6px, 0, 0, 6px);
  }

  @include modifier("circle") {
    @include border-radius(100%);
  }
}
.caption {
  color: color(agray, dark);
  font-family: $museo700;
  padding: 0;
  @include rem-fallback("font-size", 17px);

  @include modifier("description") {
    font-family: $helvetica;
    @include rem-fallback("font-size", 12px);
  }
}

// icons

.social-media {
  display: flex;
  @include rem-fallback("width", 200px);
  justify-content: space-between;

  @include element("link") {
    display: flex;
    background: color(awhite);
    @include border(1px solid color(agray, light));
    @include border-radius(50%);
    @include rem-fallback("width", 32px);
    @include rem-fallback("height", 32px);
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease;
    justify-content: space-around;
  }

  @include modifier("facebook") {
    fill: social-color(facebook);
    order: 1;
    @include rem-fallback("padding", 6px 0);

    &:hover {
      fill: color(awhite);
      background: color(agray, light);
      @include border(1px solid transparent);
    }
  }

  @include modifier("twitter") {
    fill: social-color(twitter);
    order: 2;
    @include rem-fallback("padding", 7px 0);

    &:hover {
      fill: color(awhite);
      background: color(agray, light);
      @include border(1px solid transparent);
    }
  }

  @include modifier("pinterest") {
    fill: social-color(pinterest);
    order: 3;
    @include rem-fallback("padding", 7px 0);

    &:hover {
      fill: color(awhite);
      background: color(agray, light);
      @include border(1px solid transparent);
    }
  }

  @include modifier("youtube") {
    fill: social-color(youtube);
    order: 4;
    @include rem-fallback("padding", 8px 0);

    &:hover {
      fill: color(awhite);
      background: color(agray, light);
      @include border(1px solid transparent);
    }

    svg {
      @include rem-fallback("width", 22px);
    }
  }

  @include modifier("instagram") {
    fill: social-color(instagram);
    order: 5;
    @include rem-fallback("padding", 7px 0);

    &:hover {
      fill: color(awhite);
      background: color(agray, light);
      @include border(1px solid transparent);
    }
  }
}
.svg-sprite {
  display: none;
}
.svgicons {
  display: flex;
  flex-wrap: wrap;
}
.breed-icon {
  display: flex;
  @include border-radius(50%);
  fill: color(ablue);

  @include breakpoint(thin) {
    @include rem-fallback("width", 44px);
    @include rem-fallback("height", 44px);
    @include rem-fallback("padding", 2px);
  }

  @include breakpoint(normal) {
    @include rem-fallback("width", 128px);
    @include rem-fallback("height", 128px);
    @include rem-fallback("padding", 5px);
  }

  @include breakpoint(wide) {
    @include rem-fallback("width", 110px);
    @include rem-fallback("height", 110px);
    @include rem-fallback("padding", 5px);
  }

  @include breakpoint(full) {
    @include rem-fallback("width", 110px);
    @include rem-fallback("height", 110px);
    @include rem-fallback("padding", 5px);
  }
}
.icon {
  display: flex;
  @include border-radius(50%);
  fill: color(ablue);
  @include rem-fallback("width", 64px);
  @include rem-fallback("height", 64px);
  @include rem-fallback("padding", 5px);
}
.social-media-share {
  display: flex;
  @include rem-fallback("width", 300px);
  justify-content: space-between;

  @include element("link") {
    display: flex;
    background: color(awhite);
    @include border(1px solid color(agray, light));
    @include border-radius(50%);
    @include rem-fallback("width", 44px);
    @include rem-fallback("height", 44px);
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease;
    justify-content: space-around;

    &:hover {
      svg {
        fill: color(awhite);
      }
    }
  }

  @include modifier("paw") {
    fill: social-color(paw);
  }

  @include modifier("facebook") {
    fill: social-color(facebook);
    order: 1;
    @include rem-fallback("padding", 9px);

    &:hover {
      background-color: social-color(facebook);
      border-color: social-color(facebook);
    }
  }
  @include modifier("twitter") {
    fill: social-color(twitter);
    order: 2;
    @include rem-fallback("padding", 10px);

    &:hover {
      background-color: social-color(twitter);
      border-color: social-color(twitter);
    }
  }
  @include modifier("pinterest") {
    fill: social-color(pinterest);
    order: 3;
    @include rem-fallback("padding", 11px);

    &:hover {
      background-color: social-color(pinterest);
      border-color: social-color(pinterest);
    }
  }
  @include modifier("envelope") {
    fill: social-color(envelope);
    order: 4;
    @include rem-fallback("padding", 10px);

    &:hover {
      background-color: social-color(envelope);
      border-color: social-color(envelope);
    }
  }

  @include modifier("smaller") {
    @include rem-fallback("width", 32px);
    @include rem-fallback("height", 32px);
  }

  @include modifier("smaller-facebook") {
    @include rem-fallback("padding", 6px);
  }

  @include modifier("smaller-twitter") {
    @include rem-fallback("padding", 7px);
  }

  @include modifier("smaller-pinterest") {
    @include rem-fallback("padding", 7px);
  }

  @include modifier("smaller-envelope") {
    @include rem-fallback("padding", 7px);
  }

  @include element("envelop-position") {
    order: 4;
  }
}
.social-media-v2 {
  background-color: $sixty-per-lighter-grey;
  @include rem-fallback("padding", 10px 5px);
  @include rem-fallback("width", 210px);

  .social-media__link {
    @include border(1px solid transparent);
  }
}

.social-pop {
  &__content {
    @include rem-fallback("padding", 10px 15px 15px);
    width: 100%;

    .social-media-share {
      width: 100%;

      &--envelope {
        display: none;
      }
    }
  }
}

.social-share-pop {
  .social-pop {
    &__dropdown {
      pointer-events: all;
      opacity: 1;
      bottom: 70px;
      left: 10px;

      &::after {
        left: 0;
        margin-left: 1em;
      }
    }
  }

  @include element("status") {
    opacity: 0;
    z-index: -999;

    @include modifier("open") {
      opacity: 1;
      z-index: 999;

      & ~ .fav-pet-card__share {
        .fav-pet-card__share--icon {
          fill: color(ablue, dark);
        }
      }
    }
  }
}
