.list {
  ul,
  ol {
    @include rem-fallback("margin", 0 0 1px);
    line-height: 1.6;
    @include font-size(20);

    li {
      @include rem-fallback("padding-bottom", 20px);

      ul,
      ol {
        @include rem-fallback("padding-top", 20px);

        li {
          padding-bottom: 0;
        }
      }
    }
  }

  ul {
    @include rem-fallback("margin-left", 10px);
    @include rem-fallback("padding-left", 20px);
    list-style-type: disc;

    &.list-clear {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }
  }
}
