.pet-carousel {
  display: block;

  @include breakpoint(wide) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: center;
    align-items: initial;
  }

  @include element("wrapper") {
    display: block;

    @include breakpoint(wide) {
      display: flex;
    }
  }

  @include element("container") {
    display: block;
    outline: none;
    @include rem-fallback("margin", 0 0 10px);

    @include breakpoint(normal) {
      @include rem-fallback("margin", 0 16px 16px 0);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin", 2px 16px 2px 0);
    }

    @include breakpoint(wide) {
      display: flex;
      @include rem-fallback("margin", 2px 24px 2px 0);
    }

    &.petcard__green-card {
      height: 100%;
      display: flex;
    }

    &:nth-of-type(3n + 3) {
      margin-right: 0;

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-right", 16px);
      }

      @include breakpoint(wide) {
        @include rem-fallback("margin-right", 24px);
      }
    }

    &:nth-of-type(4) {
      @include breakpoint(normal) {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-bottom", 2px);
      }
    }

    &:nth-of-type(5) {
      @include breakpoint(normal) {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-bottom", 2px);
      }
    }

    &:nth-of-type(6) {
      @include breakpoint(normal) {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-bottom", 2px);
      }
    }

    .pet-card,
    .pet-card-act {
      width: 100%;
      @include rem-fallback("height", 140px);
      display: flex;
      padding: 0;

      @include breakpoint(normal) {
        width: 100%;
        height: auto;
        margin: 0;
      }

      @include element("container") {
        margin: 0;
        @include rem-fallback("width", 124px);
        @include rem-fallback("height", 124px);

        @include breakpoint(normal) {
          @include rem-fallback("margin", 0 0 10px);
          width: 100%;
          height: auto;
        }
      }

      @include element("content") {
        display: block;
        flex-wrap: wrap;
        @include rem-fallback("padding", 5px 0 5px 15px);
        @include rem-fallback("max-width", 140px);
        flex-direction: column;

        @include breakpoint(thin) {
          @include rem-fallback("max-width", 165px);
        }

        @include breakpoint(normal) {
          display: block;
          padding: 0;
          max-width: 100%;
        }

        @include modifier("comma") {
          &:not(:empty) {
            &:not(:last-of-type) {
              &::after {
                content: ", ";
              }
            }
          }
        }
      }

      @include element("details") {
        @include breakpoint(normal) {
          display: block;
          @include rem-fallback("height", 60px);
        }
      }

      @include element("heading") {
        @include rem-fallback("margin", 0 0 10px);
        align-self: baseline;
      }

      @include element("caption") {
        @include heading($h-heading: h6__heading-h6--museo-h6--compact);
        @include rem-fallback("min-height", 22px);
        color: color(awhite);
        align-items: center;

        @include breakpoint(normal) {
          @include heading($h-heading: h5__heading-h5--museo-h5--x-compact);
          color: color(awhite);
        }
      }

      @include modifier("green-card") {
        display: none;

        @include breakpoint(normal) {
          background: color(agreen);
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: color(agreen, dark);
            border: 0;
            box-shadow: $btn-shade-hover;
            color: color(awhite, base);
          }

          &:active {
            background-color: color(agreen, base);
            box-shadow: $btn-shade-active;
          }
        }
      }

      @include element("green") {
        display: flex;
      }
    }
  }

  @include element("viewall-card") {
    color: color(awhite);
    text-align: center;
  }

  @include element("arrow") {
    fill: color(agray, dark);
    display: none;
    align-items: center;
    cursor: pointer;

    @include breakpoint(tablet-plus) {
      display: table;
      align-self: center;
    }

    & svg {
      @include rem-fallback("width", 21px);
      @include rem-fallback("height", 34px);
    }

    :hover {
      fill: color(ablue);
    }

    :active {
      fill: color(ablue, dark);
    }

    &.is-disabled {
      fill: color(agray, lighter);
      cursor: default;
      pointer-events: none;
    }

    @include modifier("left") {
      transform: rotateY(180deg);

      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-right", 15px);
      }

      @include breakpoint(wide) {
        @include rem-fallback("margin-right", 35px);
      }
    }

    @include modifier("right") {
      @include breakpoint(tablet-plus) {
        @include rem-fallback("margin-left", 15px);
      }

      @include breakpoint(wide) {
        @include rem-fallback("margin-left", 35px);
      }
    }
  }

  @include element("show-more") {
    display: block;
    @include rem-fallback("margin", 15px 10px 0);

    @include breakpoint(normal) {
      @include rem-fallback("margin", 40px auto 0);
      @include rem-fallback("width", 367px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("margin", 40px 0);
    }
  }

  @include element("view-change") {
    display: block;

    @include breakpoint(wide) {
      display: none;
    }
  }

  &.no-slider {
    .slider {
      @include breakpoint(normal) {
        display: flex;
        margin-left: 0;
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("padding", 0 40px);
      }

      .pet-carousel__container {
        @include breakpoint(normal) {
          @include rem-fallback("width", 232px);
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("width", 226px);
        }

        @include breakpoint(wide) {
          @include rem-fallback("width", 270px);
        }
      }
    }
  }
}
.slider {
  display: block;
  flex-wrap: wrap;
  @include rem-fallback("padding", 0 10px);

  @include breakpoint(normal) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
  }

  @include breakpoint(tablet-plus) {
    display: block;
    flex-wrap: nowrap;
    margin-left: 0;
  }

  &.slick-dotted {
    display: block;

    @include breakpoint(normal) {
      width: 92%;
    }

    @include breakpoint(tablet-plus) {
      display: flex;
      width: 100%;
    }

    @include breakpoint(wide) {
      width: 92%;
    }
  }

  .slick-list,
  .slick-track {
    display: flex;
  }
}
