.act-quickly,
.adopted {
  @include rem-fallback("padding", 20px);
  @include rem-fallback("margin-bottom", 25px);
  @include rem-fallback("border-radius", 6px);
  background-color: color(aorange, base);

  @include breakpoint(tablet-plus) {
    @include rem-fallback("max-width", 510px);
  }

  h4 {
    color: color(awhite, base);
    @include rem-fallback("line-height", 26px);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    @include rem-fallback("margin-top", 20px);
    @include rem-fallback("margin-left", 20px);
    box-sizing: border-box;
    @include border(8px solid color(ablack));
    border-color: transparent transparent color(aorange) color(aorange);
    transform-origin: 0 0;
    transform: rotate(315deg);
    z-index: 1;
  }

  &--small {
    position: relative;
    width: auto;
    @include rem-fallback("padding", 5px);
    @include rem-fallback("margin-top", -25px);
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;

    @include breakpoint(normal) {
      @include rem-fallback("padding", 10px);
    }

    h5 {
      color: color(awhite, base);
    }

    &::after {
      content: none;
    }
  }
}

.adopted {
  background-color: color(ablue, base);
  &::after {
    border-color: transparent transparent color(ablue) color(ablue);
  }
}

.gallery {
  &__main-photo {
    @include rem-fallback("margin", 0 auto 15px);
    text-align: center;
    @include rem-fallback("height", 251px);

    @include breakpoint(normal) {
      @include rem-fallback("height", 400px);
      @include rem-fallback("margin", 0 0 15px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("height", 348px);
      text-align: left;
    }

    @include breakpoint(wide) {
      @include rem-fallback("height", 400px);
    }
  }

  &__status {
    & .gallery__main-photo {
      @include rem-fallback("height", 261px);

      @include breakpoint(normal) {
        @include rem-fallback("height", 420px);
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("height", 368px);
      }

      @include breakpoint(wide) {
        @include rem-fallback("height", 420px);
      }
    }

    &--video {
      & .gallery__main-photo {
        @include rem-fallback("height", 286px);

        @include breakpoint(normal) {
          @include rem-fallback("height", 445px);
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("height", 393px);
        }

        @include breakpoint(wide) {
          @include rem-fallback("height", 445px);
        }
      }
    }
  }

  &__img {
    width: auto;
    height: auto;
    display: inline-block;

    img {
      @include rem-fallback("max-width", 320px);
      @include rem-fallback("max-height", 251px);
      @include rem-fallback("border-radius", 8px);
      display: block;

      @include breakpoint(normal) {
        @include rem-fallback("max-width", 510px);
        @include rem-fallback("max-height", 400px);
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("max-width", 455px);
        @include rem-fallback("max-height", 347px);
      }

      @include breakpoint(wide) {
        @include rem-fallback("max-width", 510px);
        @include rem-fallback("max-height", 400px);
      }

      &.stretch-height {
        @include rem-fallback("height", 251px);

        @include breakpoint(normal) {
          @include rem-fallback("height", 400px);
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("height", 347px);
        }

        @include breakpoint(wide) {
          @include rem-fallback("height", 400px);
        }
      }

      &.stretch-width {
        @include rem-fallback("width", 320px);

        @include breakpoint(normal) {
          @include rem-fallback("width", 510px);
        }

        @include breakpoint(tablet-plus) {
          @include rem-fallback("width", 455px);
        }

        @include breakpoint(wide) {
          @include rem-fallback("width", 510px);
        }
      }
    }

    &--no-pet {
      display: block;
      @include rem-fallback("max-width", 320px);
      margin: 0 auto;

      @include breakpoint(normal) {
        @include rem-fallback("max-width", 510px);
      }

      @include breakpoint(tablet-plus) {
        margin: initial;
      }

      & img {
        max-height: 100%;
        @include rem-fallback("max-width", 320px);
        @include rem-fallback("max-height", 320px);

        @include breakpoint(normal) {
          @include rem-fallback("max-width", 510px);
          @include rem-fallback("max-height", 400px);
        }
      }

      & .adopted--small {
        margin-top: -20px;
      }
      & .act-quickly {
        margin-top: -20px;
      }
    }
  }

  &__video-container {
    @include rem-fallback("width", 320px);
    @include rem-fallback("height", 251px);
    @include rem-fallback("border-radius", 8px);
    display: block;

    @include breakpoint(normal) {
      @include rem-fallback("width", 510px);
      @include rem-fallback("height", 400px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("width", 455px);
      @include rem-fallback("height", 348px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("width", 510px);
      @include rem-fallback("height", 400px);
    }

    & + div {
      .act-quickly {
        margin-top: 0;
      }
    }

    & ~ .act-quickly {
      margin-top: 0;
    }

    & + div,
    & {
      ~ .adopted {
        margin-top: 0;
      }
    }
  }

  &__thumbnails {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    @include rem-fallback("margin-bottom", 20px);

    @include breakpoint(normal) {
      @include rem-fallback("margin-bottom", 15px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-bottom", 30px);
    }
  }

  &__thumb {
    display: flex;
    background: $forty-per-lighter-grey;
    @include rem-fallback("min-width", 58px);
    @include rem-fallback("width", 58px);
    @include rem-fallback("height", 58px);
    @include rem-fallback("margin-right", 9px);
    @include rem-fallback("border-radius", 8px);
    overflow: hidden;

    img {
      width: 100%;
      margin: auto 0;
      cursor: pointer;
    }

    @include breakpoint(normal) {
      @include rem-fallback("min-width", 124px);
      @include rem-fallback("width", 124px);
      @include rem-fallback("height", 124px);
      @include rem-fallback("margin-right", 32.5px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("min-width", 80px);
      @include rem-fallback("width", 80px);
      @include rem-fallback("height", 80px);
      @include rem-fallback("margin-right", 17px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("min-width", 100px);
      @include rem-fallback("width", 100px);
      @include rem-fallback("height", 100px);
      @include rem-fallback("margin-right", 15px);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__thumb--selected {
    opacity: 0.4;

    img {
      cursor: default;
    }
  }

  &__video {
    position: relative;
  }
}

.video__overlay {
  position: absolute;
  cursor: pointer;
  @include rem-fallback("width", 58px);
  @include rem-fallback("height", 58px);
  background-color: $video-bg-shade;

  @include breakpoint(normal) {
    @include rem-fallback("width", 124px);
    @include rem-fallback("height", 124px);
  }

  @include breakpoint(tablet-plus) {
    @include rem-fallback("width", 100px);
    @include rem-fallback("height", 100px);
  }

  svg {
    position: relative;
    @include rem-fallback("top", 11px);
    @include rem-fallback("left", 11px);
    @include rem-fallback("width", 36.2px);
    @include rem-fallback("height", 36.2px);
    fill: color(awhite, base);

    @include breakpoint(normal) {
      @include rem-fallback("top", 30px);
      @include rem-fallback("left", 30px);
      @include rem-fallback("width", 62.4px);
      @include rem-fallback("height", 62.4px);
    }

    @include breakpoint(tablet-plus) {
      @include rem-fallback("top", 13px);
      @include rem-fallback("left", 13px);
      @include rem-fallback("width", 55px);
      @include rem-fallback("height", 55px);
    }

    @include breakpoint(wide) {
      @include rem-fallback("top", 19px);
      @include rem-fallback("left", 19px);
      @include rem-fallback("width", 62.4px);
      @include rem-fallback("height", 62.4px);
    }
  }
}
