.pet-card,
.pet-card-act {
  box-shadow: $pet-card-shade, $pet-card-border;
  border-radius: 8px;
  background: color(awhite);
  width: 100%;
  @include rem-fallback("height", 140px);
  display: flex;
  @include padding-space($p-space: pet-card-small);
  cursor: pointer;

  @include breakpoint(thin) {
    box-shadow: $pet-card-shade, $pet-card-border;
    @include padding-space($p-space: pet-card-small);
    width: 100%;
    @include rem-fallback("height", 140px);
    display: flex;
  }

  @include breakpoint(normal) {
    box-shadow: $pet-card-shade, $pet-card-border;
    @include padding-space($p-space: pet-card-big);
    @include rem-fallback("width", 165px);
    @include rem-fallback("height", 295px);
    display: block;
  }

  @include breakpoint(wide) {
    box-shadow: $pet-card-shade, $pet-card-border;
    @include padding-space($p-space: pet-card-big);
    @include rem-fallback("width", 200px);
    @include rem-fallback("height", 330px);
    display: block;
  }

  @include breakpoint(thin) {
    hover: none;

    &:active {
      background: $twenty-percent-lighter-grey;
      box-shadow: $pet-card-bg-shade, $pet-card-border;
    }
  }

  @include breakpoint(wide) {
    &:hover {
      background: $twenty-percent-lighter-grey;
    }

    &:active {
      background: $twenty-percent-lighter-grey;
      box-shadow: $pet-card-bg-shade, $pet-card-border;
    }
  }

  @include element("container") {
    border-radius: $border-radius;
    @include rem-fallback("height", 124px);
    background-size: cover;
    display: flex;
    align-items: flex-end;

    @include breakpoint(thin) {
      @include rem-fallback("width", 124px);
      @include rem-fallback("height", 124px);
    }

    @include breakpoint(normal) {
      max-width: 100%;
      height: auto;
      width: auto;
    }

    @include breakpoint(wide) {
      max-width: 100%;
      height: auto;
      width: auto;
      flex-basis: 100%;
    }
  }

  @include element("act-content") {
    color: color(aorange);
  }

  @include element("content") {
    display: block;
    flex-wrap: wrap;
    @include padding-space($p-space: l-x-small);
    @include rem-fallback("max-width", 165px);

    @include breakpoint(thin) {
      display: block;
      flex-wrap: wrap;
      @include padding-space($p-space: l-x-small);
      @include rem-fallback("max-width", 190px);
    }

    @include breakpoint(phone-plus) {
      @include rem-fallback("max-width", 220px);
    }

    @include breakpoint(normal) {
      display: block;
      padding: 0;
      width: auto;
      max-width: 100%;
    }

    @include breakpoint(wide) {
      display: block;
      flex-wrap: wrap;
      padding: 0;
      width: auto;
    }

    @include modifier("color") {
      color: color(aorange);
    }

    @include modifier("comma") {
      &:not(:empty) {
        &:not(:last-of-type) {
          &::after {
            content: ", ";
          }
        }
      }
    }
  }

  @include element("details") {
    display: block;
    flex-wrap: wrap;
    align-items: flex-end;

    @include breakpoint(thin) {
      display: block;
    }

    @include breakpoint(normal) {
      display: block;
    }

    @include breakpoint(wide) {
      display: block;
    }

    @include breakpoint(full) {
      display: block;
    }
  }

  @include element("newline") {
    &::before,
    &::after {
      content: "\A";
      white-space: pre;

      @include breakpoint(thin) {
        content: "\A";
        white-space: pre;
      }

      @include breakpoint(normal) {
        content: "\A";
        white-space: initial;
      }

      @include breakpoint(wide) {
        content: "\A";
        white-space: initial;
      }

      @include breakpoint(full) {
        content: "\A";
        white-space: initial;
      }
    }
  }

  @include element("heading") {
    @include margin-space($m-space: x-small);
  }

  @include element("act-heading") {
    @include margin-space($m-space: tiny);
  }

  @include element("caption") {
    background: color(aorange);
    border-radius: 0 0 6px 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: color(awhite);
    @include heading($h-heading: h6-museo);
    position: absolute;
    bottom: 0;

    @include breakpoint(thin) {
      @include heading($h-heading: h6-museo);
      color: color(awhite);
    }

    @include breakpoint(normal) {
      @include heading($h-heading: h5-museo);
      color: color(awhite);
    }

    @include breakpoint(wide) {
      @include heading($h-heading: h5-museo);
      color: color(awhite);
    }
  }

  @include element("img-box") {
    position: relative;
  }

  @include element("link") {
    width: 100%;
    outline: none;
    @include rem-fallback("padding", 8px);

    @include breakpoint(tiny) {
      display: flex;
      flex-wrap: no-wrap;
    }

    @include breakpoint(normal) {
      display: block;
      flex-wrap: wrap;
      @include rem-fallback("padding", 10px);
    }
  }

  $figure-bg: rgba(color(agray, lighter), 0.6);

  @include element("figure") {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $figure-bg;
    border-radius: 6px;
    @include margin-space($m-space: x-small);
    @include rem-fallback("width", 124px);
    @include rem-fallback("height", 124px);

    @include breakpoint(thin) {
      @include rem-fallback("width", 124px);
      @include rem-fallback("height", 124px);
    }

    @include breakpoint(normal) {
      @include rem-fallback("width", 145px);
      @include rem-fallback("height", 125px);
      overflow: hidden;
    }

    @include breakpoint(wide) {
      @include rem-fallback("width", 180px);
      @include rem-fallback("height", 165px);
      overflow: hidden;
    }
  }
}
