//.ask-owner parent is used from l-pet-detail.scss as this matches well and not to have new parent for this pattern
.ask-owner {
  &__heading {
    @include rem-fallback("margin-bottom", 15px);
    @include heading($h-heading: h3__heading-h3--museo);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-bottom", 30px);
      @include heading($h-heading: h1__heading-h1--museo);
      width: 80%;
    }
  }

  &__sub-heading {
    @include heading($h-heading: h4__heading-h4--museo-h4--compact);

    @include breakpoint(tablet-plus) {
      @include heading($h-heading: h2__heading-h2--museo);
    }
  }

  &__qa-box {
    @include border-radius(8px);
    @include rem-fallback("padding", 20px);
    @include rem-fallback("margin-bottom", 30px);
    box-shadow: $pet-card-shade;
    background: color(awhite);
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(normal) {
      @include rem-fallback("padding", 30px);
    }
  }

  &__name-date {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    @include rem-fallback("margin-bottom", 15px);
    @include breakpoint(normal) {
      @include rem-fallback("margin-bottom", 10px);
    }
  }

  &__name {
    @include heading($h-heading: h4__heading-h4--x-compact);
    @include breakpoint(normal) {
      @include heading($h-heading: h4__heading-h4--compact);
    }
  }

  &__date {
    @include heading($h-heading: h6__heading-h6--bold);
    color: color(agray, light);
  }

  &__heading-section {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-wrap: wrap;
    @include rem-fallback("margin-bottom", 20px);

    @include breakpoint(normal) {
      margin-bottom: 0;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__content {
    @include rem-fallback("margin-bottom", 15px);

    @include breakpoint(tablet-plus) {
      @include rem-fallback("margin-bottom", 10px);
    }
  }

  &__qa-ans-section {
    border-bottom: 1px solid color(agray, lighter);
    @include rem-fallback("padding-bottom", 30px);
    @include rem-fallback("margin-bottom", 30px);

    @include breakpoint(normal) {
      @include rem-fallback("padding-bottom", 50px);
      @include rem-fallback("margin-bottom", 50px);
    }
  }

  &__qa-section {
    @include rem-fallback("padding-bottom", 30px);
    width: 100%;
  }

  &__ans-section {
    width: 100%;
  }
}
