.petcard {
  width: 100%;

  @include breakpoint(normal) {
    margin-left: -24px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  @include element("section") {
    width: 100%;
    display: flex;

    @include breakpoint(normal) {
      display: block;
    }
  }

  @include element("content") {
    width: 100%;
    float: none;
    position: relative;
    @include rem-fallback("margin-bottom", 20px);

    @include breakpoint(normal) {
      width: calc(100% / 3);
      float: left;
      margin: 0;
      @include rem-fallback("padding", 0 0 24px 24px);
    }

    @include breakpoint(tablet-plus) {
      width: calc(100% / 4);
    }
  }

  .pet-card,
  .pet-card-act {
    width: 100%;
    @include rem-fallback("height", 140px);
    padding: 0;
    @include border-radius(8px);

    @include breakpoint(normal) {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    @include element("container") {
      margin: 0;
      @include rem-fallback("width", 124px);
      @include rem-fallback("height", 124px);
      @include border-radius(8px);

      @include breakpoint(normal) {
        @include rem-fallback("margin", 0 0 10px);
        width: 100%;
        height: auto;
        //min-height: 200px;
      }
    }

    @include element("content") {
      display: block;
      flex-wrap: wrap;
      @include rem-fallback("padding", 5px 0 5px 15px);
      @include rem-fallback("max-width", 180px);
      flex-direction: column;

      @include breakpoint(normal) {
        display: block;
        padding: 0;
        max-width: 100%;
      }

      @include modifier("comma") {
        &:not(:empty) {
          &:not(:last-of-type) {
            &::after {
              content: ", ";
            }
          }
        }
      }
    }

    @include element("details") {
      height: auto;

      @include breakpoint(normal) {
        @include rem-fallback("height", 80px);
      }

      @include breakpoint(tablet-plus) {
        @include rem-fallback("height", 60px);
      }
    }

    @include element("caption") {
      @include rem-fallback("height", 22px);
      @include rem-fallback("line-height", 22px);

      @include breakpoint(normal) {
        @include rem-fallback("height", 28px);
        @include rem-fallback("line-height", 28px);
      }

      &.pet-card-adopt__caption {
        background: color(ablue);
      }
    }
  }
}
