.select-box {
  display: flex;
  position: relative;

  .form__select {
    @include rem-fallback("margin", 5px 0 0);

    &:valid ~ label {
      @include rem-fallback("top", 10px);
      @include rem-fallback("left", 17px);
    }

    &-label {
      @include rem-fallback("font-size", 20px);
      @include rem-fallback("line-height", 32px);
      font-weight: 400;
      color: color(agray, dark);
      position: absolute;
      @include rem-fallback("bottom", 13px);
      @include rem-fallback("left", 17px);

      &--top {
        @include rem-fallback("top", 10px);
        @include rem-fallback("left", 17px);
        @include rem-fallback("font-size", 14px);
        position: absolute;
        color: color(agray, light);
        pointer-events: none;
        font-weight: 700;
      }
    }
  }

  .select-field-container {
    .form__select {
      border-radius: $border-radius;
      position: relative;

      &.is-disabled {
        @include border(1px solid color(agray, lighter));
        pointer-events: none;
        color: color(agray, lighter);
        background: url('data:image/svg+xml;utf8,<svg width="13px" height="7px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Artboard 4</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Artboard-4" fill="#dfdfdf"><polygon id="Shape" points="0 0 5 5 10 0"></polygon></g></g></svg>');
        background-repeat: no-repeat;
        background-position: right 17px center;

        & + .form__label {
          color: color(agray, lighter);
        }
      }

      &.is-focus {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .form__select--text {
      @include rem-fallback("padding", 16px 17px 4px);
    }
  }

  &__dropdown {
    border-radius: 0 0 $border-radius $border-radius;
    width: 100%;
    height: auto;
    @include rem-fallback("top", 59px);
    left: 0;
    bottom: auto;
    @include rem-fallback("max-height", 230px);

    &--big {
      @include rem-fallback("max-height", 250px);
    }

    ul {
      @include rem-fallback("max-height", 230px);
      margin-top: 0;
      margin-bottom: 0;
      //@include rem-fallback('margin-top', 12px);
      //@include rem-fallback('margin-bottom', 12px);

      &.drop-down-big {
        @include rem-fallback("max-height", 230px);
        margin-top: 0;
        margin-bottom: 0;
        //@include rem-fallback('margin-top', 10px);
        //@include rem-fallback('margin-bottom', 10px);
      }
    }

    &::before {
      content: initial;
    }
    &::after {
      content: initial;
      display: none;
    }
  }

  &__list {
    //@include rem-fallback('padding-left', 20px);
    //@include rem-fallback('padding-right', 32px);
    @include rem-fallback("padding", 10px 32px 10px 20px);
    word-wrap: break-word;

    &.active {
      background-position: right 10px center;
      color: color(ablue);
    }

    &:hover {
      color: color(agray, dark);
      font-weight: 400;
    }

    &:active {
      color: color(ablue, dark);
    }
  }
}
.suggestion-text {
  color: color(agray, light);
  position: absolute;
  pointer-events: none;
  right: 11%;
  top: 36%;

  @include breakpoint(phone-plus) {
    right: 7%;
  }

  @include breakpoint(normal) {
    right: 6%;
  }
  @include breakpoint(tablet-plus) {
    right: 4%;
  }

  @include breakpoint(wide) {
    top: 32%;
    right: 3%;
  }
}
