.usercard {
  display: flex;

  @include element("icon") {
    width: 44px;
    height: 44px;
    margin: 0;

    @include modifier("circle") {
      width: 44px;
      height: 44px;
    }
  }

  @include element("label") {
    @include breakpoint(tiny) {
      display: none;
    }

    @include breakpoint(tablet-plus) {
      display: block;
    }
  }
}
