<div :class="b().toString()">
  <section v-if="section === 'initial'">
    <Heading class="h1"
      level="h1">Forgot your password?
    </Heading>
    <div class="grid">
      <div>
        <Paragraph>
          Enter your email address and we'll send you a link to reset your
          password.
        </Paragraph>
        <ValidatedForm :names="['email']"
          @validate:error="onValidateError"
          @submit="requestPasswordResetLink">
          <EmailInput v-model="email"
            :required="true"
            label="Email" />
          <VSpacer size="m" />
          <Button>Send My Reset Link</Button>
        </ValidatedForm>
        <VSpacer class="d-tablet-wide-none"
          size="l" />
        <VDivider class="d-tablet-wide-none" />
      </div>
      <div>
        <Heading level="h3">Can't log in with your email address?</Heading>
        <Paragraph>
          Email us at <TextLink href="mailto:info@adoptapet.com">info@adoptapet.com</TextLink>.
        </Paragraph>
      </div>
    </div>
  </section>
  <section v-if="section === 'confirmation'"
    class="text-center">
    <Heading level="h1">Thank You!</Heading>
    <VSpacer size="s" />
    <Paragraph>We'll send you an email with a link to reset your password.</Paragraph>
    <VSpacer size="s" />
  </section>
</div>